Repository SamGalanakis/lash: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

.pre-commit-config.yaml:

exclude: 'lash/src/baml_client/.*'

repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json

  - repo: local
    hooks:
      # Rust — lash (core library)
      - id: cargo-fmt-lash
        name: cargo fmt (lash)
        language: system
        entry: cargo fmt --manifest-path lash/Cargo.toml --check
        files: '^lash/.*\.rs$'
        pass_filenames: false

      # Rust — lash-cli
      - id: cargo-fmt-cli
        name: cargo fmt (lash-cli)
        language: system
        entry: cargo fmt --manifest-path lash-cli/Cargo.toml --check
        files: '^lash-cli/.*\.rs$'
        pass_filenames: false

      # Rust clippy — lash (core library)
      - id: cargo-clippy-lash
        name: cargo clippy (lash)
        language: system
        entry: cargo clippy --manifest-path lash/Cargo.toml -- -D warnings
        files: '^lash/.*\.rs$'
        pass_filenames: false

      # Rust clippy — lash-cli
      - id: cargo-clippy-cli
        name: cargo clippy (lash-cli)
        language: system
        entry: cargo clippy --manifest-path lash-cli/Cargo.toml -- -D warnings
        files: '^lash-cli/.*\.rs$'
        pass_filenames: false

Make lash-embed the host facade
  Cargo.lock
  bench/continual-learning-bench/runner/Cargo.toml
  bench/continual-learning-bench/runner/src/main.rs
  bench/longcot/runner/Cargo.toml
  bench/longcot/runner/src/main.rs
  bench/longmemeval-rlm/runner/Cargo.toml
  bench/longmemeval-rlm/runner/src/bench_tools.rs
  bench/longmemeval-rlm/runner/src/main.rs
  bench/swebench/runner/Cargo.toml
  bench/swebench/runner/src/main.rs
  examples/agent-service/Cargo.toml
  examples/agent-service/src/main.rs
  lash-cli/src/autonomous.rs
  lash-cli/src/bootstrap.rs
  lash-cli/src/cli_support.rs
  lash-cli/src/interactive/commands/provider.rs
  lash-cli/src/interactive/commands/session.rs
  lash-cli/src/interactive/commands/tools.rs
  lash-cli/src/interactive/helpers.rs
  lash-cli/src/interactive/input_handling.rs
  lash-cli/src/interactive/mod.rs
  lash-cli/src/interactive/runtime.rs
  lash-cli/src/interactive/tests.rs
  lash-cli/src/main.rs
  lash-cli/src/runtime_perf.rs
  lash-cli/src/turn_runner.rs
  lash-embed/src/lib.rs
  lash-plugin-mcp/Cargo.toml
  lash-tui-extensions/Cargo.toml
  lash/Cargo.toml
Due: cargo-fmt-cli, cargo-clippy-cli

Checkpoint in-flight embed and provider work
  bench/longcot/runner/src/main.rs
  bench/longmemeval-rlm/runner/src/main.rs
  docs/architecture/deps.html
  docs/architecture/execution.html
  docs/embedding.html
  examples/agent-service/README.md
  examples/agent-service/src/main.rs
  lash-cli/src/bootstrap.rs
  lash-cli/src/cli_support.rs
  lash-cli/src/config.rs
  lash-cli/src/fork.rs
  lash-cli/src/main.rs
  lash-cli/src/provider_metadata.rs
  lash-cli/src/resume.rs
  lash-cli/src/runtime_perf.rs
  lash-cli/src/setup.rs
  lash-embed/src/core.rs
  lash-embed/src/error.rs
  lash-embed/src/plugin_binding.rs
  lash-embed/src/session.rs
  lash-embed/src/support.rs
  lash-embed/src/tests.rs
  lash-embed/src/turn.rs
  lash-embed/tests/embed_plugins.rs
  lash-mode-rlm/src/executor.rs
  lash-mode-rlm/src/plugin.rs
  lash-mode-rlm/src/projected_bindings.rs
  lash-provider-openai/src/chat.rs
  lash-provider-openai/src/common.rs
  lash-provider-openai/src/config.rs
  lash-provider-openai/src/lib.rs
  lash-provider-openai/src/responses.rs
  lash-provider-openai/src/tests.rs
  lash-provider-openai/src/transport.rs
  lash-providers-builtin/src/lib.rs
  lash-sqlite-store/src/lib.rs
  lash-sqlite-store/tests/store_gc.rs
  lash/src/runtime/mod.rs
  lash/src/tool_provider.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Update CI test crate names
  .github/workflows/ci.yml
Due: none

Refine session specs and plugin stacks
  bench/continual-learning-bench/runner/src/main.rs
  bench/longcot/runner/src/main.rs
  bench/longmemeval-rlm/runner/src/main.rs
  bench/swebench/runner/src/main.rs
  docs/architecture/abstractions.html
  docs/architecture/flow.html
  docs/architecture/modules.html
  docs/architecture/overview.html
  docs/architecture/runtime.html
  lash-cli/src/bootstrap.rs
  lash-core/src/lib.rs
  lash-core/src/plugin/mod.rs
  lash-core/src/plugin/session_obj.rs
  lash-core/src/plugin/tool_result_projection_builtin.rs
  lash-core/src/runtime/tests/helpers.rs
  lash-core/src/runtime/turn_driver/streaming.rs
  lash-core/src/session.rs
  lash-core/src/session_model/mod.rs
  lash-core/src/tool_dispatch.rs
  lash-core/src/tool_provider.rs
  lash-llm-tools/src/lib.rs
  lash-mode-rlm/src/control_tools.rs
  lash-mode-rlm/src/executor.rs
  lash-mode-rlm/src/plugin.rs
  lash-plugin-plan-mode/src/plan_mode.rs
  lash-plugin-plan-mode/tests/integration.rs
  lash-plugin-rolling-history/src/lib.rs
  lash-plugin-tool-discovery/src/provider.rs
  lash-standard-plugins/src/lib.rs
  lash-subagents/src/capability.rs
  lash-subagents/src/lib.rs
  lash-subagents/src/local.rs
  lash-subagents/src/rlm.rs
  lash-subagents/src/shared.rs
  lash/src/core.rs
  lash/src/lib.rs
  lash/src/plugin_stack.rs
  lash/src/session.rs
  lash/src/support.rs
  lash/src/tests.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Fix runtime perf benchmark and docs
  .github/workflows/ci.yml
  .github/workflows/perf.yml
  README.md
  docs/architecture/abstractions.html
  docs/architecture/overview.html
  docs/architecture/runtime.html
  docs/embedding.html
  docs/plugins.html
  docs/quickstart.html
  lash-cli/src/runtime_perf.rs
  lash-core/src/tool_provider.rs
  scripts/profile_runtime.py
Due: cargo-fmt-cli, cargo-clippy-cli

Fix docs homepage: unbreak Lash API card, unify card structure
  docs/index.html
Due: none

Tighten Lashlang while-loop diagnostics
  docs/architecture/deps.html
  docs/architecture/flow.html
  docs/architecture/index.html
  docs/architecture/lashlang.html
  docs/architecture/overview.html
  docs/architecture/providers.html
  docs/cli.html
  docs/quickstart.html
  docs/tracing.html
  lash-mode-rlm/src/executor.rs
  lash-mode-rlm/src/protocol.rs
  lashlang/src/parser.rs
  lashlang/tests/rlm_prompt_claims.rs
Due: none

Expand lash facade boundary exports
  lash/src/lib.rs
  lash/tests/embed_plugins.rs
  lash/tests/ui.rs
  lash/tests/ui/facade_boundary_types_are_public.rs
Due: cargo-fmt-lash, cargo-clippy-lash

Finish facade boundary cutover
  Cargo.lock
  bench/swebench/runner/src/main.rs
  lash-cli/src/bootstrap.rs
  lash-cli/src/instructions.rs
  lash-cli/src/main.rs
  lash-cli/src/paths.rs
  lash-core/src/lib.rs
  lash-plugin-prompt-context/src/lib.rs
  lash-plugin-prompt-context/tests/integration.rs
  lash-standard-plugins/src/lib.rs
  lash-tool-apply-patch/Cargo.toml
  lash-tool-apply-patch/src/lib.rs
  lash-tool-files/src/read_file.rs
  lash/src/lib.rs
  lash/tests/ui/facade_boundary_types_are_public.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Fix runtime perf plugin stack options
  docs/embedding.html
  lash-cli/src/runtime_perf/harness.rs
Due: cargo-fmt-cli, cargo-clippy-cli

Expose remaining facade boundary types
  lash/src/lib.rs
  lash/src/support.rs
  lash/src/turn.rs
  lash/tests/ui/facade_boundary_types_are_public.rs
Due: cargo-fmt-lash, cargo-clippy-lash

Add Oolong bench and async handoff ownership
  Cargo.lock
  Cargo.toml
  bench/README.md
  bench/continual-learning-bench/runner/src/main.rs
  bench/longcot/runner/src/main.rs
  bench/longmemeval-rlm/runner/src/main.rs
  bench/oolong/README.md
  bench/oolong/evaluate.sh
  bench/oolong/prepare.py
  bench/oolong/run.sh
  bench/oolong/runner/Cargo.toml
  bench/oolong/runner/src/dataset.rs
  bench/oolong/runner/src/main.rs
  bench/oolong/setup.sh
  bench/swebench/runner/src/main.rs
  lash-cli/src/bootstrap.rs
  lash-core/src/plugin/runtime_host.rs
  lash-core/src/runtime/host.rs
  lash-core/src/runtime/session_manager.rs
  lash-core/src/runtime/session_manager/api.rs
  lash-core/src/runtime/session_manager/background.rs
  lash-core/src/runtime/session_manager/managed.rs
  lash-core/src/session.rs
  lash-core/src/session/async_handles.rs
  lash-core/src/tool_provider.rs
  lash-llm-tools/src/lib.rs
  lash-mode-rlm/src/control_tools.rs
  lash-mode-rlm/src/executor.rs
  lash-mode-rlm/src/plugin.rs
  lash-mode-rlm/src/rlm_support.rs
  lash-rlm-types/src/lib.rs
  lash-subagents/Cargo.toml
  lash-subagents/src/lib.rs
  lash/src/control.rs
  lash/src/turn.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Fix projected value operation parity
  Cargo.lock
  lashlang/examples/bench_support/mod.rs
  lashlang/src/runtime/ops.rs
  lashlang/src/runtime/tests.rs
  lashlang/src/runtime/value.rs
  lashlang/src/runtime/vm.rs
Due: none

Normalize projected RLM tool args
  Cargo.lock
  Cargo.toml
  bench/README.md
  bench/frontier-cs/README.md
  bench/frontier-cs/evaluate.sh
  bench/frontier-cs/run.sh
  bench/frontier-cs/runner/Cargo.toml
  bench/frontier-cs/runner/src/main.rs
  bench/frontier-cs/setup.sh
  bench/longcot/README.md
  docs/architecture/lashlang.html
  docs/plugins.html
  lash-mode-rlm/src/executor.rs
  lash-mode-rlm/src/plugin.rs
  lash-rlm-types/src/lib.rs
  lash-subagents/src/shared.rs
  lash-tool-support/Cargo.toml
  lash-tool-support/src/lib.rs
Due: none

Pin CI Zig to 0.15.2
  .github/workflows/ci.yml
  .github/workflows/perf.yml
  .github/workflows/release.yml
Due: none

Centralize CI Zig setup
  .github/actions/setup-ci-zig/action.yml
  .github/ci-toolchain.env
  .github/workflows/ci.yml
  .github/workflows/perf.yml
  .github/workflows/release.yml
Due: none

Pin fff search native backend
  .github/ci-toolchain.env
  lash-tool-search/Cargo.toml
Due: none

Restore compatible fff search lock
  Cargo.lock
Due: none

Run macOS x86 build on Intel runner
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Drop x86 macOS release target
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Remove stale x86 macOS workflow target
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Checkpoint performance benchmark improvements
  Cargo.lock
  bench/oolong/runner/src/dataset.rs
  bench/oolong/runner/src/main.rs
  docs/architecture/lashlang.html
  lash-core/src/runtime/session_manager/managed.rs
  lash-core/src/session_model/mod.rs
  lash-mode-rlm/Cargo.toml
  lash-mode-rlm/src/executor.rs
  lash-mode-rlm/src/lib.rs
  lash-mode-rlm/src/projected_bindings.rs
  lash-mode-rlm/src/protocol.rs
  lash-mode-rlm/src/snapshots/lash_mode_rlm__protocol__tests__rlm_execution_section_default.snap
  lash-mode-rlm/src/snapshots/lash_mode_rlm__protocol__tests__rlm_execution_section_no_images.snap
  lash-sansio/src/lib.rs
  lash-sansio/src/session_model/mod.rs
  lash-sansio/src/session_model/prompt.rs
  lash-subagents/src/lib.rs
  lash-subagents/src/rlm.rs
  lash-subagents/src/shared.rs
  lash/src/core.rs
  lash/src/session.rs
  lash/src/tests.rs
  lash/src/tests/core_session_builder.rs
  lashlang/Cargo.toml
  lashlang/examples/bench_support/mod.rs
  lashlang/src/runtime/access.rs
  lashlang/src/runtime/compiler.rs
  lashlang/src/runtime/instruction.rs
  lashlang/src/runtime/ops.rs
  lashlang/src/runtime/record.rs
  lashlang/src/runtime/snapshots/lashlang__runtime__tests__lashlang_compiled_bytecode_contract.snap
  lashlang/src/runtime/snapshots/lashlang__runtime__tests__lashlang_parser_ast_contract.snap
  lashlang/src/runtime/snapshots/lashlang__runtime__tests__lashlang_runtime_diagnostic_contract.snap
  lashlang/src/runtime/snapshots/lashlang__runtime__tests__lashlang_serialized_state_snapshot_contract.snap
  lashlang/src/runtime/state.rs
  lashlang/src/runtime/tests.rs
  lashlang/src/runtime/value.rs
  lashlang/tests/benchmark_contract.rs
  lashlang/tests/rlm_prompt_claims.rs
  lashlang/tests/snapshots/benchmark_contract__lashlang_benchmark_scenario_outputs.snap
Due: cargo-fmt-lash, cargo-clippy-lash

Reduce runtime benchmark hot-path clones
  lash-core/src/plugin/session_obj.rs
  lash-core/src/session.rs
  lash-core/src/tool_registry.rs
  lash-provider-openai/src/chat.rs
  lash-provider-openai/src/common.rs
  lash-provider-openai/src/driver.rs
Due: none

perf: expand lashlang coverage and optimize list growth
  lash-provider-openai/src/driver.rs
  lashlang/benches/benchmark.rs
  lashlang/examples/bench_support/mod.rs
  lashlang/examples/perf.rs
  lashlang/examples/profile.rs
  lashlang/src/lib.rs
  lashlang/src/runtime/access.rs
  lashlang/src/runtime/compiler.rs
  lashlang/src/runtime/instruction.rs
  lashlang/src/runtime/mod.rs
  lashlang/src/runtime/ops.rs
  lashlang/src/runtime/tests.rs
  lashlang/src/runtime/value.rs
  lashlang/src/runtime/vm.rs
  lashlang/tests/benchmark_contract.rs
  lashlang/tests/snapshots/benchmark_contract__lashlang_benchmark_scenario_outputs.snap
  scripts/profile_lashlang.py
Due: none

Optimize lashlang runtime hot paths
  bench/oolong/runner/src/main.rs
  docs/architecture/lashlang.html
  lash-mode-rlm/src/protocol.rs
  lash-mode-rlm/src/snapshots/lash_mode_rlm__protocol__tests__rlm_execution_section_default.snap
  lash-mode-rlm/src/snapshots/lash_mode_rlm__protocol__tests__rlm_execution_section_no_images.snap
  lashlang/src/lexer.rs
  lashlang/src/parser.rs
  lashlang/src/runtime/compiler.rs
  lashlang/src/runtime/format.rs
  lashlang/src/runtime/instruction.rs
  lashlang/src/runtime/mod.rs
  lashlang/src/runtime/ops.rs
  lashlang/src/runtime/schema.rs
  lashlang/src/runtime/tests.rs
  lashlang/src/runtime/vm.rs
  lashlang/tests/language.rs
  lashlang/tests/rlm_prompt_claims.rs
Due: none

Refine lashlang VM cleanup and benchmarks
  lash-mode-rlm/src/executor.rs
  lashlang/benches/benchmark.rs
  lashlang/examples/bench_support/mod.rs
  lashlang/examples/perf.rs
  lashlang/src/lib.rs
  lashlang/src/runtime/access.rs
  lashlang/src/runtime/compiler.rs
  lashlang/src/runtime/format.rs
  lashlang/src/runtime/instruction.rs
  lashlang/src/runtime/json.rs
  lashlang/src/runtime/mod.rs
  lashlang/src/runtime/ops.rs
  lashlang/src/runtime/snapshots/lashlang__runtime__tests__lashlang_compiled_bytecode_contract.snap
  lashlang/src/runtime/snapshots/lashlang__runtime__tests__lashlang_parser_ast_contract.snap
  lashlang/src/runtime/state.rs
  lashlang/src/runtime/tests.rs
  lashlang/src/runtime/value.rs
  lashlang/src/runtime/vm.rs
  scripts/profile_lashlang.py
Due: none

Prevent Rust cache from restoring cargo shims
  .github/workflows/ci.yml
  .github/workflows/perf.yml
  .github/workflows/release.yml
Due: none

Docs: refresh lashlang/RLM references, README example + GH Pages link
  README.md
  docs/architecture/abstractions.html
  docs/architecture/index.html
  docs/architecture/lashlang.html
  docs/architecture/overview.html
Due: none

Docs: refresh typography, distill chrome, fluid scaling
  docs/STYLEGUIDE.md
  docs/architecture/execution.html
  docs/architecture/flow.html
  docs/architecture/lashlang.html
  docs/architecture/modules.html
  docs/architecture/styles.css
  docs/cli.html
  docs/design-language.html
  docs/embedding.html
  docs/example-agent-service.html
  docs/persistence.html
  docs/plugins.html
  docs/tracing.html
  examples/agent-service/src/main.rs
  lash-cli/src/activity/mod.rs
  lash-cli/src/activity/projector.rs
  lash-cli/src/app/projection.rs
  lash-cli/src/app/tests.rs
  lash-cli/src/app/tests/projection.rs
  lash-cli/src/bootstrap.rs
  lash-cli/src/interactive/mod.rs
  lash-cli/src/interactive/tests.rs
  lash-cli/src/render/tests.rs
  lash-llm-tools/src/lib.rs
  lash-mode-rlm/src/control_tools.rs
  lash-plugin-mcp/src/pool.rs
  lash-sansio/src/lib.rs
Due: cargo-fmt-cli, cargo-clippy-cli
