Repository SamGalanakis/lash: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

.pre-commit-config.yaml:

exclude: 'lash/src/baml_client/.*'

repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json

  - repo: local
    hooks:
      # Rust — lash (core library)
      - id: cargo-fmt-lash
        name: cargo fmt (lash)
        language: system
        entry: cargo fmt --manifest-path lash/Cargo.toml --check
        files: '^lash/.*\.rs$'
        pass_filenames: false

      # Rust — lash-cli
      - id: cargo-fmt-cli
        name: cargo fmt (lash-cli)
        language: system
        entry: cargo fmt --manifest-path lash-cli/Cargo.toml --check
        files: '^lash-cli/.*\.rs$'
        pass_filenames: false

      # Rust clippy — lash (core library)
      - id: cargo-clippy-lash
        name: cargo clippy (lash)
        language: system
        entry: cargo clippy --manifest-path lash/Cargo.toml -- -D warnings
        files: '^lash/.*\.rs$'
        pass_filenames: false

      # Rust clippy — lash-cli
      - id: cargo-clippy-cli
        name: cargo clippy (lash-cli)
        language: system
        entry: cargo clippy --manifest-path lash-cli/Cargo.toml -- -D warnings
        files: '^lash-cli/.*\.rs$'
        pass_filenames: false

Remove Claude OAuth provider support
  README.md
  lash-cli/src/main.rs
  lash-cli/src/setup.rs
  lash/src/llm/adapters/claude_oauth.rs
  lash/src/llm/adapters/mod.rs
  lash/src/llm/factory.rs
  lash/src/model_variant.rs
  lash/src/oauth.rs
  lash/src/provider.rs
  lash/src/runtime.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Render plugin panel output and refine session handling
  docs/design.html
  lash-cli/src/activity.rs
  lash-cli/src/app.rs
  lash-cli/src/main.rs
  lash-cli/src/session_log.rs
  lash-cli/src/theme.rs
  lash-cli/src/ui.rs
  lash-sansio/src/agent/message.rs
  lash/src/agent/context.rs
  lash/src/lib.rs
  lash/src/llm/adapters/codex_oauth.rs
  lash/src/plugin.rs
  lash/src/plugin_builtin/plan_mode.rs
  lash/src/plugin_builtin/tests.rs
  lash/src/provider.rs
  lash/src/runtime.rs
  lash/src/tools/agent_call.rs
  lash/src/tools/ask.rs
  lash/src/tools/state.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

License Lash as MIT and update reqwest
  Cargo.lock
  Cargo.toml
  LICENSE
  lash-cli/Cargo.toml
  lash-sansio/Cargo.toml
  lash/Cargo.toml
  lashlang/Cargo.toml
  xtask/Cargo.toml
Due: none

Refine command dispatch and tool output truncation
  lash-cli/src/command.rs
  lash-cli/src/main.rs
  lash/src/plugin/tool_result_projection_builtin.rs
  lash/src/tools/grep.rs
  lash/src/tools/mod.rs
  lash/src/tools/read_file.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

ci: update workflows and dependencies
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Cargo.lock
  lash/Cargo.toml
Due: none

Add MCP dynamic tool integration
  lash-cli/src/main.rs
  lash-cli/src/session_log.rs
  lash-cli/src/ui.rs
  lash-sansio/src/lib.rs
  lash/src/dynamic.rs
  lash/src/lib.rs
  lash/src/mcp.rs
  lash/src/plugin.rs
  lash/src/plugin_builtin/history.rs
  lash/src/plugin_builtin/tests.rs
  lash/src/provider.rs
  lash/src/runtime.rs
  lash/src/skill_prompt.rs
  lash/src/tool_dispatch.rs
  lash/src/tools/agent_call.rs
  lash/src/tools/agent_call/policy.rs
  lash/src/tools/apply_patch.rs
  lash/src/tools/ask.rs
  lash/src/tools/batch.rs
  lash/src/tools/fetch_url.rs
  lash/src/tools/glob.rs
  lash/src/tools/grep.rs
  lash/src/tools/ls.rs
  lash/src/tools/memory.rs
  lash/src/tools/mod.rs
  lash/src/tools/read_file.rs
  lash/src/tools/shell.rs
  lash/src/tools/state.rs
  lash/src/tools/update_plan.rs
  lash/src/tools/web_search.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Refactor lash-cli into modular interactive runtime
  Cargo.lock
  lash-cli/Cargo.toml
  lash-cli/src/activity.rs
  lash-cli/src/app.rs
  lash-cli/src/autonomous.rs
  lash-cli/src/bootstrap.rs
  lash-cli/src/cli_support.rs
  lash-cli/src/command.rs
  lash-cli/src/diff.rs
  lash-cli/src/event.rs
  lash-cli/src/fork.rs
  lash-cli/src/input_items.rs
  lash-cli/src/interactive.rs
  lash-cli/src/main.rs
  lash-cli/src/replay.rs
  lash-cli/src/resume.rs
  lash-cli/src/session_log.rs
  lash-cli/src/theme.rs
  lash-cli/src/ui.rs
  lash-cli/src/util.rs
  lash-sansio/src/agent/mod.rs
  lash-sansio/src/agent/prompt.rs
  lash-sansio/src/lib.rs
  lash-sansio/src/plugin.rs
  lash-sansio/src/sansio.rs
  lash/src/agent/mod.rs
  lash/src/lib.rs
  lash/src/plugin_builtin/plan_mode.rs
  lash/src/runtime.rs
  lash/src/skill_prompt.rs
  lash/src/store.rs
  lash/src/tools/agent_call/policy.rs
  lash/src/tools/read_file.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Fix CI regressions in patch preview tests
  lash-cli/src/app.rs
  lash-cli/src/diff.rs
  lash-cli/src/ui.rs
Due: cargo-fmt-cli, cargo-clippy-cli

Fix fork launch behavior and session snapshots
  lash-cli/src/fork.rs
  lash-cli/src/interactive.rs
Due: cargo-fmt-cli, cargo-clippy-cli

Add CLI updater and clarify version labels
  Cargo.lock
  README.md
  install_lash.sh
  lash-cli/Cargo.toml
  lash-cli/src/bootstrap.rs
  lash-cli/src/cli_support.rs
  lash-cli/src/command.rs
  lash-cli/src/event.rs
  lash-cli/src/fork.rs
  lash-cli/src/interactive.rs
  lash-cli/src/main.rs
  lash-cli/src/update.rs
Due: cargo-fmt-cli, cargo-clippy-cli

Support forking sessions while a turn is running
  lash-cli/src/bootstrap.rs
  lash-cli/src/command.rs
  lash-cli/src/fork.rs
  lash-cli/src/interactive.rs
  lash-cli/src/session_log.rs
Due: cargo-fmt-cli, cargo-clippy-cli

Fix UI height clipping and clean up workspace
  .gitignore
  Cargo.lock
  lash-cli/src/activity.rs
  lash-cli/src/app.rs
  lash-cli/src/bootstrap.rs
  lash-cli/src/diff.rs
  lash-cli/src/interactive.rs
  lash-cli/src/main.rs
  lash-cli/src/markdown.rs
  lash-cli/src/resume.rs
  lash-cli/src/session_log.rs
  lash-cli/src/ui.rs
  lash-sansio/Cargo.toml
  lash-sansio/src/agent/message.rs
  lash-sansio/src/agent/mod.rs
  lash-sansio/src/agent/prompt.rs
  lash-sansio/src/llm/types.rs
  lash-sansio/src/sansio.rs
  lash/Cargo.toml
  lash/src/agent/context.rs
  lash/src/llm/adapters/google_cloudcode.rs
  lash/src/plugin/runtime_impl.rs
  lash/src/plugin_builtin/plan_mode.rs
  lash/src/plugin_builtin/tests.rs
  lash/src/runtime.rs
  lash/src/skill_prompt.rs
  lash/src/tools/agent_call/policy.rs
  lash/src/tools/apply_patch.rs
  lash/src/tools/memory.rs
  lash/src/tools/mod.rs
  lash/src/tools/state.rs
  scripts/benchmark_lashlang.sh
  scripts/profile_lashlang.sh
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Fix flaky history persistence runtime test
  lash/src/runtime.rs
Due: cargo-fmt-lash, cargo-clippy-lash

Improve streaming scroll behavior and update release handling
  .github/workflows/ci.yml
  Cargo.lock
  lash-cli/Cargo.toml
  lash-cli/build.rs
  lash-cli/src/app.rs
  lash-cli/src/interactive.rs
  lash-cli/src/main.rs
  lash-cli/src/theme.rs
  lash-cli/src/ui.rs
  lash-cli/src/update.rs
Due: cargo-fmt-cli, cargo-clippy-cli

Improve direct LLM support and UI state persistence
  Cargo.lock
  lash-cli/Cargo.toml
  lash-cli/src/activity.rs
  lash-cli/src/app.rs
  lash-cli/src/cli_support.rs
  lash-cli/src/interactive.rs
  lash-cli/src/resume.rs
  lash-cli/src/session_log.rs
  lash-cli/src/ui.rs
  lash-cli/src/util.rs
  lash-sansio/src/agent/message.rs
  lash-sansio/src/llm/types.rs
  lash-sansio/src/sansio.rs
  lash/src/direct.rs
  lash/src/lib.rs
  lash/src/llm/adapters/codex_oauth.rs
  lash/src/llm/adapters/google_cloudcode.rs
  lash/src/llm/adapters/openrouter.rs
  lash/src/runtime.rs
  lash/src/store.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Fix update and adapter tests for current request shape
  lash-cli/src/update.rs
  lash/src/llm/adapters/codex_oauth.rs
  lash/src/llm/adapters/google_cloudcode.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Stabilize update tests for shallow CI checkouts
  lash-cli/src/update.rs
Due: cargo-fmt-cli, cargo-clippy-cli

Move delegate tools into lash-cli
  README.md
  docs/architecture.html
  lash-cli/src/activity.rs
  lash-cli/src/app.rs
  lash-cli/src/bootstrap.rs
  lash-cli/src/cli_support.rs
  lash-cli/src/delegate_tools/mod.rs
  lash-cli/src/delegate_tools/policy.rs
  lash-cli/src/delegate_tools/runner.rs
  lash-cli/src/main.rs
  lash-sansio/src/agent/prompt.rs
  lash-sansio/src/lib.rs
  lash/src/agent/context.rs
  lash/src/agent/mod.rs
  lash/src/lib.rs
  lash/src/plugin.rs
  lash/src/plugin/tool_result_projection_builtin.rs
  lash/src/plugin_builtin/history.rs
  lash/src/plugin_builtin/tests.rs
  lash/src/provider.rs
  lash/src/runtime.rs
  lash/src/tool_dispatch.rs
  lash/src/tools/memory.rs
  lash/src/tools/mod.rs
  lash/src/tools/state.rs
  scripts/run-terminalbench.sh
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Fix lash CLI resume and follow scrolling
  lash-cli/src/app.rs
  lash-cli/src/resume.rs
  lash-cli/src/ui.rs
Due: cargo-fmt-cli, cargo-clippy-cli

Anchor lash follow scrolling to turn start
  lash-cli/src/app.rs
Due: cargo-fmt-cli, cargo-clippy-cli

Update lash runtime store plumbing and CLI flows
  lash-cli/src/app.rs
  lash-cli/src/bootstrap.rs
  lash-cli/src/cli_support.rs
  lash-cli/src/interactive.rs
  lash-cli/src/main.rs
  lash-cli/src/resume.rs
  lash-cli/src/session_log.rs
  lash-cli/src/ui.rs
  lash/src/lib.rs
  lash/src/plugin.rs
  lash/src/plugin/runtime_impl.rs
  lash/src/plugin_builtin.rs
  lash/src/plugin_builtin/history.rs
  lash/src/runtime.rs
  lash/src/search.rs
  lash/src/session.rs
  lash/src/store.rs
  lash/src/tools/default_plugins.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Make runtime store async and persist turn checkpoints
  lash-cli/src/cli_support.rs
  lash-cli/src/fork.rs
  lash-cli/src/resume.rs
  lash-cli/src/session_log.rs
  lash/src/lib.rs
  lash/src/runtime.rs
  lash/src/store.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Rename openai-generic provider to openai-compatible
  README.md
  lash-cli/src/bootstrap.rs
  lash-cli/src/fork.rs
  lash-cli/src/main.rs
  lash-cli/src/setup.rs
  lash/src/agent/mod.rs
  lash/src/llm/adapters/openrouter.rs
  lash/src/model_variant.rs
  lash/src/plugin.rs
  lash/src/plugin_builtin/tests.rs
  lash/src/provider.rs
  lash/src/tool_dispatch.rs
  lash/src/tools/state.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Refresh docs and harden streamed text handling
  README.md
  docs/architecture.html
  docs/index.html
  docs/memory-architecture.html
  lash-cli/src/app.rs
  screenshot.png
Due: cargo-fmt-cli, cargo-clippy-cli

Refactor CLI editor and overlay modules
  .pre-commit-config.yaml
  docs/design.html
  lash-cli/src/app.rs
  lash-cli/src/assistant_text.rs
  lash-cli/src/autonomous.rs
  lash-cli/src/bootstrap.rs
  lash-cli/src/cli_support.rs
  lash-cli/src/command.rs
  lash-cli/src/editor.rs
  lash-cli/src/fork.rs
  lash-cli/src/input_items.rs
  lash-cli/src/interactive.rs
  lash-cli/src/main.rs
  lash-cli/src/markdown.rs
  lash-cli/src/overlay.rs
  lash-cli/src/repo_status.rs
  lash-cli/src/resume.rs
  lash-cli/src/session_log.rs
  lash-cli/src/text_display.rs
  lash-cli/src/theme.rs
  lash-cli/src/ui.rs
  lash/src/agent/context.rs
  lash/src/lib.rs
  lash/src/llm/adapters/codex_oauth.rs
  lash/src/llm/adapters/google_cloudcode.rs
  lash/src/llm/adapters/openrouter.rs
  lash/src/runtime.rs
  lash/src/store.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Preserve assistant formatting and refresh CLI session rendering
  lash-cli/src/activity.rs
  lash-cli/src/app.rs
  lash-cli/src/interactive.rs
  lash-cli/src/resume.rs
  lash-cli/src/session_log.rs
  lash-cli/src/ui.rs
  lash-sansio/src/sansio.rs
Due: cargo-fmt-cli, cargo-clippy-cli

Improve assistant text persistence and UI rendering
  .gitignore
  Cargo.lock
  docs/architecture.html
  lash-cli/Cargo.toml
  lash-cli/src/app.rs
  lash-cli/src/assistant_text.rs
  lash-cli/src/interactive.rs
  lash-cli/src/markdown.rs
  lash-cli/src/ui.rs
  lash-sansio/src/sansio.rs
  lash/src/runtime.rs
  lash/src/store.rs
  xtask/src/main.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Centralize transcript persistence and refresh architecture docs
  .gitignore
  docs/architecture.html
  lash-cli/src/app.rs
  lash-cli/src/autonomous.rs
  lash-cli/src/cli_support.rs
  lash-cli/src/fork.rs
  lash-cli/src/interactive.rs
  lash-cli/src/main.rs
  lash-cli/src/resume.rs
  lash-cli/src/session_log.rs
  lash-cli/src/theme.rs
  lash-cli/src/ui.rs
  lash-cli/src/ui_resume.rs
  lash/src/lib.rs
  lash/src/plugin.rs
  lash/src/plugin_builtin/history.rs
  lash/src/runtime.rs
  lash/src/store.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Implement typed user prompts across runtime and CLI
  lash-cli/src/activity.rs
  lash-cli/src/app.rs
  lash-cli/src/autonomous.rs
  lash-cli/src/bootstrap.rs
  lash-cli/src/interactive.rs
  lash-cli/src/main.rs
  lash-cli/src/overlay.rs
  lash-cli/src/ui.rs
  lash-sansio/src/agent/mod.rs
  lash-sansio/src/lib.rs
  lash/src/lib.rs
  lash/src/plugin.rs
  lash/src/plugin/runtime_impl.rs
  lash/src/plugin_builtin/plan_mode.rs
  lash/src/plugin_builtin/tests.rs
  lash/src/runtime.rs
  lash/src/session.rs
  lash/src/tools/ask.rs
  lash/src/tools/default_plugins.rs
  lash/src/tools/state.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Improve CLI activity feeds and live shell output
  lash-cli/src/activity.rs
  lash-cli/src/app.rs
  lash-cli/src/ui.rs
Due: cargo-fmt-cli, cargo-clippy-cli

Fix wrapped live shell output rendering
  lash-cli/src/app.rs
  lash-cli/src/ui.rs
Due: cargo-fmt-cli, cargo-clippy-cli

Clean up ask question panel labels
  lash-cli/src/activity.rs
  lash-cli/src/ui.rs
Due: cargo-fmt-cli, cargo-clippy-cli

Fix ask activity test expectation
  lash-cli/src/activity.rs
Due: cargo-fmt-cli, cargo-clippy-cli

Harden release lockfile validation
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Cargo.lock
  scripts/release_version.py
Due: none

Add plan mode panel and stream fallback handling
  lash-cli/src/app.rs
  lash-cli/src/cli_support.rs
  lash-cli/src/ui.rs
  lash-ui/src/lib.rs
  lash/src/llm/adapters/codex_oauth.rs
  lash/src/llm/adapters/google_cloudcode.rs
  lash/src/llm/adapters/openrouter.rs
  lash/src/plugin_builtin/plan_mode.rs
  lash/src/plugin_builtin/tests.rs
  lash/src/runtime.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Refine session UI streaming and prompt architecture
  docs/architecture.html
  lash-cli/src/activity.rs
  lash-cli/src/app.rs
  lash-cli/src/assistant_text.rs
  lash-cli/src/cli_support.rs
  lash-cli/src/interactive.rs
  lash-cli/src/main.rs
  lash-cli/src/resume.rs
  lash-cli/src/resume_snapshot.rs
  lash-cli/src/session_log.rs
  lash-cli/src/ui.rs
  lash-sansio/src/lib.rs
  lash-sansio/src/sansio.rs
  lash-sansio/src/session_model/message.rs
  lash-sansio/src/session_model/mod.rs
  lash-sansio/src/session_model/prompt.rs
  lash-ui/src/lib.rs
  lash/src/lib.rs
  lash/src/plugin.rs
  lash/src/plugin/runtime_impl.rs
  lash/src/plugin/tool_result_projection_builtin.rs
  lash/src/plugin_builtin/plan_mode.rs
  lash/src/plugin_builtin/tests.rs
  lash/src/runtime.rs
  lash/src/session_model/context.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Clean up queued turn flow and inline live tool output
  Cargo.lock
  lash-cli/src/app/mod.rs
  lash-cli/src/app/projection.rs
  lash-cli/src/app/tests.rs
  lash-cli/src/interactive/mod.rs
  lash-cli/src/interactive/runtime.rs
  lash-cli/src/render/mod.rs
  lash-cli/src/render/tests.rs
  lash-cli/src/scratch_tui.rs
Due: cargo-fmt-cli, cargo-clippy-cli
