Repository SamGalanakis/lash: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

.pre-commit-config.yaml:

exclude: 'lash/src/baml_client/.*'

repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json

  - repo: local
    hooks:
      # Rust — lash (core library)
      - id: cargo-fmt-lash
        name: cargo fmt (lash)
        language: system
        entry: cargo fmt --manifest-path lash/Cargo.toml --check
        files: '^lash/.*\.rs$'
        pass_filenames: false

      # Rust — lash-cli
      - id: cargo-fmt-cli
        name: cargo fmt (lash-cli)
        language: system
        entry: cargo fmt --manifest-path lash-cli/Cargo.toml --check
        files: '^lash-cli/.*\.rs$'
        pass_filenames: false

      # Rust clippy — lash (core library)
      - id: cargo-clippy-lash
        name: cargo clippy (lash)
        language: system
        entry: cargo clippy --manifest-path lash/Cargo.toml -- -D warnings
        files: '^lash/.*\.rs$'
        pass_filenames: false

      # Rust clippy — lash-cli
      - id: cargo-clippy-cli
        name: cargo clippy (lash-cli)
        language: system
        entry: cargo clippy --manifest-path lash-cli/Cargo.toml -- -D warnings
        files: '^lash-cli/.*\.rs$'
        pass_filenames: false

Extract bundled plugins into separate crates
  Cargo.lock
  Cargo.toml
  bench/longcot/runner/Cargo.toml
  bench/longcot/runner/src/main.rs
  bench/longmemeval-rlm/runner/Cargo.toml
  bench/longmemeval-rlm/runner/src/main.rs
  bench/swebench/runner/Cargo.toml
  bench/swebench/runner/src/main.rs
  lash-cli/Cargo.toml
  lash-cli/src/bootstrap.rs
  lash-default-tools/Cargo.toml
  lash-default-tools/src/lib.rs
  lash-plugin-observational-memory/Cargo.toml
  lash-plugin-observational-memory/src/lib.rs
  lash-plugin-plan-mode/Cargo.toml
  lash-plugin-plan-mode/src/lib.rs
  lash-plugin-plan-mode/src/plan_mode.rs
  lash-plugin-plan-mode/src/update_plan.rs
  lash-plugin-plan-mode/tests/integration.rs
  lash-plugin-prompt-context/Cargo.toml
  lash-plugin-prompt-context/src/lib.rs
  lash-plugin-prompt-context/tests/integration.rs
  lash-plugin-rolling-history/Cargo.toml
  lash-plugin-rolling-history/src/lib.rs
  lash-plugin-ui-activity/Cargo.toml
  lash-plugin-ui-activity/src/lib.rs
  lash-plugin-ui-activity/tests/integration.rs
  lash/Cargo.toml
  lash/src/lib.rs
  lash/src/plugin/mod.rs
  lash/src/plugin/monitor.rs
  lash/src/plugin/tool_result_projection_builtin.rs
  lash/src/plugin_builtin.rs
  lash/src/runtime/tests.rs
  lash/src/test_support.rs
  lash/src/testing.rs
  lash/src/tool_dispatch.rs
  lash/src/tools/apply_patch.rs
  lash/src/tools/mod.rs
  lash/src/tools/shell.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Spring cleaning: provider refactor leftovers
  Cargo.lock
  lash-cli/src/interactive/commands/provider.rs
  lash-cli/src/setup.rs
  lash-provider-anthropic/Cargo.toml
  lash-provider-anthropic/src/lib.rs
  lash-provider-codex/Cargo.toml
  lash-provider-codex/src/lib.rs
  lash-provider-codex/src/oauth.rs
  lash-provider-google/Cargo.toml
  lash-provider-google/src/lib.rs
  lash-provider-openai/Cargo.toml
  lash-provider-openai/src/lib.rs
  lash/src/lib.rs
  lash/src/llm/streaming.rs
  lash/src/oauth.rs
  lash/src/provider.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Optimize runtime streaming and provider request paths
  Cargo.lock
  lash-cli/src/app/mod.rs
  lash-cli/src/render/mod.rs
  lash-cli/src/render/tests.rs
  lash-provider-anthropic/src/lib.rs
  lash-provider-codex/src/lib.rs
  lash-provider-google/src/lib.rs
  lash-provider-openai/src/lib.rs
  lash-sansio/src/llm/types.rs
  lash-sansio/src/session_model/message.rs
  lash/src/llm/timeouts.rs
  lash/src/plugin/history.rs
  lash/src/plugin/session_obj.rs
  lash/src/runtime/assembly.rs
  lash/src/runtime/turn_driver.rs
  lash/src/runtime/turn_driver/streaming.rs
  lash/src/runtime/turn_loop.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

WIP: snapshot markdown streaming refactor
  Cargo.lock
  lash-cli/src/app/mod.rs
  lash-cli/src/app/projection.rs
  lash-cli/src/app/tests.rs
  lash-cli/src/app/view.rs
  lash-cli/src/assistant_text.rs
  lash-cli/src/interactive/mod.rs
  lash-cli/src/main.rs
  lash-cli/src/render/mod.rs
  lash-cli/src/render/tests.rs
  lash-cli/src/resume.rs
  lash-cli/src/scratch_tui.rs
  lash-cli/src/session_log.rs
  lash-cli/src/stream_markdown.rs
  lash-cli/src/ui_resume.rs
  lash/Cargo.toml
  lash/src/tools/grep.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Fix reasoning projection duplication
  lash-cli/src/app/mod.rs
  lash-cli/src/app/projection.rs
  lash-cli/src/app/tests.rs
  lash-cli/src/assistant_text.rs
  lash-cli/src/render/mod.rs
  lash-cli/src/render/tests.rs
  lash-provider-openai/src/lib.rs
Due: cargo-fmt-cli, cargo-clippy-cli

Add CLI host docs prompt context
  lash-cli/src/bootstrap.rs
  lash-cli/src/host_docs.rs
  lash-cli/src/main.rs
Due: cargo-fmt-cli, cargo-clippy-cli

Improve session resume ids and architecture docs
  .gitignore
  docs/architecture.html
  gpt-5.4.stratified-50.json
  lash-cli/src/fork.rs
  lash-cli/src/host_docs.rs
  lash-cli/src/interactive/commands/session.rs
  lash-cli/src/main.rs
  lash-cli/src/resume.rs
  lash-cli/src/session_bootstrap.rs
  lash-cli/src/session_log.rs
Due: cargo-fmt-cli, cargo-clippy-cli

Make model defaults sticky
  lash-cli/src/bootstrap.rs
  lash-cli/src/interactive/commands/provider.rs
  lash-provider-codex/src/lib.rs
  lash/src/provider.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Clean up benchmark dashboard metrics
  lash/src/tools/shell.rs
  scripts/terminalbench_ui.html
Due: cargo-fmt-lash, cargo-clippy-lash

Add OpenTelemetry trace sink
  Cargo.lock
  lash-cli/src/interactive/input_handling.rs
  lash-trace/Cargo.toml
  lash-trace/src/lib.rs
  lash-trace/src/otel.rs
  lash/Cargo.toml
  lash/src/lib.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Add file index support
  Cargo.lock
  Cargo.toml
  lash-cli/Cargo.toml
  lash-cli/src/app/input.rs
  lash-cli/src/app/mod.rs
  lash-cli/src/app/tests.rs
  lash-cli/src/app/view.rs
  lash-cli/src/cli_support.rs
  lash-cli/src/editor.rs
  lash-cli/src/event.rs
  lash-cli/src/interactive/input_handling.rs
  lash-cli/src/interactive/mod.rs
  lash-cli/src/scratch_tui.rs
  lash-file-index/Cargo.toml
  lash-file-index/src/bin/profile.rs
  lash-file-index/src/lib.rs
  lash-plugin-plan-mode/src/plan_mode.rs
  lash-plugin-plan-mode/tests/integration.rs
  lash-ui/Cargo.toml
  lash-ui/src/lib.rs
  lash/src/plugin/mod.rs
  lash/src/plugin/session_obj.rs
  lash/src/runtime/session_ops.rs
  lash/src/runtime/tests.rs
  lash/src/tool_dispatch.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Improve rlmpure handoff and CLI chrome
  lash-cli/src/app/mod.rs
  lash-cli/src/app/tests.rs
  lash-cli/src/chrome_ui.rs
  lash-cli/src/interactive/mod.rs
  lash-cli/src/main.rs
  lash-cli/src/render/mod.rs
  lash-cli/src/scratch_tui.rs
  lash-cli/src/ui_trace.rs
  lash-mode-rlm/src/rlm_support.rs
  lash-mode-rlmpure/src/plugin.rs
  lash-subagents/src/lib.rs
  lash-ui/src/lib.rs
  lash/src/plugin/mod.rs
  lash/src/runtime/session_manager/api.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Add AppWorld benchmark surface
  bench/README.md
  bench/appworld/README.md
  bench/appworld/run.py
  bench/appworld/run.sh
  bench/appworld/setup.sh
  bench/longcot/runner/src/main.rs
  bench/swebench/runner/src/main.rs
  lash-cli/src/bootstrap.rs
  lash-cli/src/host_docs.rs
  lash-cli/src/main.rs
  lash-cli/src/resume.rs
  lash-cli/src/runtime_perf.rs
  lash-mode-standard/src/lib.rs
  lash-mode-standard/tests/native_tools.rs
  lash/src/lib.rs
  lash/src/plugin/registrar.rs
  lash/src/plugin/runtime_impl.rs
  lash/src/plugin/session_obj.rs
  lash/src/runtime_controls.rs
  lash/src/session.rs
  lash/src/testing.rs
  lash/src/tool_dispatch.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Fix runtime perf RLM context setup
  lash-cli/src/runtime_perf.rs
Due: cargo-fmt-cli, cargo-clippy-cli

Clean up mode plumbing and stale docs
  README.md
  bench/appworld/run.py
  docs/handoffs/pass-baton-rlmpure.md
  docs/handoffs/sansio-mode-agnostic.md
  lash-cli/src/autonomous.rs
  lash-cli/src/bootstrap.rs
  lash-cli/src/main.rs
  lash-cli/src/turn_runner.rs
  lash-mode-rlm/src/driver.rs
  lash-mode-rlm/src/plugin.rs
  lash-mode-rlm/src/protocol.rs
  lash-mode-rlm/src/rlm_support.rs
  lash-mode-rlm/tests/protocol_drivers.rs
  lash-plugin-tool-discovery/src/lib.rs
  lash-provider-openai/src/lib.rs
  lash-rlm-types/src/lib.rs
  lash-sansio/src/lib.rs
  lash-sansio/src/sansio/tests.rs
  lash-sansio/src/session.rs
  lash-subagents/src/lib.rs
  lash-subagents/src/policy.rs
  lash-trace/src/lib.rs
  lash-trace/src/otel.rs
  lash/src/embedded.rs
  lash/src/lib.rs
  lash/src/plugin/mod.rs
  lash/src/plugin/mode.rs
  lash/src/plugin/runtime_impl.rs
  lash/src/plugin/session_obj.rs
  lash/src/plugin/tool_result_projection_builtin.rs
  lash/src/runtime/assembly.rs
  lash/src/runtime/mod.rs
  lash/src/runtime/session_manager/api.rs
  lash/src/runtime/tests.rs
  lash/src/runtime/turn_driver.rs
  lash/src/runtime/turn_loop.rs
  lash/src/session.rs
  lash/src/testing.rs
  lash/src/tool_dispatch.rs
  lash/src/tool_schema.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Add implicit agentic tool search
  lash-mode-rlm/src/plugin.rs
  lash-mode-rlm/src/protocol.rs
  lash-plugin-tool-discovery/src/lib.rs
  lash-sansio/src/lib.rs
Due: none

Improve tool discovery schema handling
  Cargo.lock
  lash-cli/Cargo.toml
  lash-default-tools/Cargo.toml
  lash-plugin-tool-discovery/Cargo.toml
  lash-plugin-tool-discovery/src/lib.rs
  lash-sansio/src/lib.rs
Due: none

Rename pass_baton → continue_as and tier RLM budget prompt
  bench/terminalbench2/README.md
  lash-mode-rlm/src/driver.rs
  lash-mode-rlm/src/plugin.rs
  lash-mode-rlm/src/protocol.rs
  lash-mode-rlm/src/rlm_support.rs
  lash-plugin-tool-discovery/src/lib.rs
  lash-subagents/src/lib.rs
  lash-subagents/src/policy.rs
  lash/src/runtime/session_manager/api.rs
  lash/src/tools/shell.rs
  scripts/harbor_lash_agent.py
  scripts/run-terminalbench.sh
  scripts/terminalbench_results.py
Due: cargo-fmt-lash, cargo-clippy-lash

Update subagent handling and runtime integration
  Cargo.lock
  lash-mode-rlm/src/protocol.rs
  lash-mode-standard/tests/native_tools.rs
  lash-plugin-tool-discovery/src/lib.rs
  lash-subagents/src/lib.rs
  lash-subagents/src/local.rs
  lash-subagents/src/policy.rs
  lash-subagents/src/routing.rs
  lash-subagents/src/types.rs
  lash/Cargo.toml
  lashlang/src/runtime/mod.rs
  lashlang/tests/rlm_prompt_claims.rs
Due: none

Unify runtime read projection cleanup
  lash-cli/src/activity/projectors/edit.rs
  lash-cli/src/activity/projectors/exploration.rs
  lash-cli/src/app/mod.rs
  lash-cli/src/app/projection.rs
  lash-cli/src/interactive/commands/plugin.rs
  lash-cli/src/interactive/mod.rs
  lash-cli/src/session_log.rs
  lash-cli/src/tree.rs
  lash/src/plugin/history.rs
  lash/src/runtime/session_manager.rs
  lash/src/runtime/session_manager/api.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli
