Repository SamGalanakis/lash: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

cargo-fmt-lash:
  name: cargo fmt (lash)
  language: system
  entry: cargo fmt --manifest-path lash/Cargo.toml --check
  pass_filenames: false

cargo-fmt-cli:
  name: cargo fmt (lash-cli)
  language: system
  entry: cargo fmt --manifest-path lash-cli/Cargo.toml --check
  pass_filenames: false

cargo-clippy-lash:
  name: cargo clippy (lash)
  language: system
  entry: cargo clippy --manifest-path lash/Cargo.toml -- -D warnings
  pass_filenames: false

cargo-clippy-cli:
  name: cargo clippy (lash-cli)
  language: system
  entry: cargo clippy --manifest-path lash-cli/Cargo.toml -- -D warnings
  pass_filenames: false

feat: replace LLM-based pruning with history rolling window, embedded Python runtime, full TUI overhaul
  .github/workflows/build.yml
  README.md
  lash-cli/src/app.rs
  lash-cli/src/main.rs
  lash-cli/src/ui.rs
  lash/baml_src/agent.baml
  lash/python/repl.py
  lash/src/agent/mod.rs
  lash/src/embedded.rs
  lash/src/lib.rs
  lash/src/manager.rs
  lash/src/provider.rs
  lash/src/session.rs
  lash/src/tools/composite.rs
  lash/src/tools/delegate_task.rs
  lash/src/tools/diff_file.rs
  lash/src/tools/edit_file.rs
  lash/src/tools/fetch_url.rs
  lash/src/tools/find_replace.rs
  lash/src/tools/glob.rs
  lash/src/tools/grep.rs
  lash/src/tools/hashline.rs
  lash/src/tools/ls.rs
  lash/src/tools/mod.rs
  lash/src/tools/read_file.rs
  lash/src/tools/shell.rs
  lash/src/tools/skills.rs
  lash/src/tools/tasks.rs
  lash/src/tools/web_search.rs
  lash/src/tools/write_file.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

feat: plan mode, agent prompt refinements, UI and REPL improvements
  .lash/plans/20260216_211521-rare-peak.md
  .lash/plans/20260216_212830-keen-cedar.md
  lash-cli/src/app.rs
  lash-cli/src/command.rs
  lash-cli/src/main.rs
  lash-cli/src/session_log.rs
  lash-cli/src/ui.rs
  lash/baml_src/agent.baml
  lash/python/repl.py
  lash/src/agent/exec.rs
  lash/src/agent/message.rs
  lash/src/agent/mod.rs
  lash/src/lib.rs
  lash/src/session.rs
  lash/src/tools/delegate_task.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

ui: collapse tool calls into grouped summaries, move session/cwd to input border, clean up error display
  lash-cli/src/app.rs
  lash-cli/src/session_log.rs
  lash-cli/src/ui.rs
  lash/src/agent/exec.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

feat: token-based rolling window, clarify _history is not summarized, remove dead pruning code
  lash-cli/src/app.rs
  lash/baml_src/agent.baml
  lash/baml_src/types.baml
  lash/python/repl.py
  lash/src/agent/mod.rs
  lash/src/tools/read_file.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

fix: deduplicate code_block events, autoscroll on Done, merge Task.claim into .start, allow done() with no args
  lash/baml_src/agent.baml
  lash/python/repl.py
Due: none

major refactor: agent, tools, UI, store, instructions, oauth, session
  .lash/plans/20260218_020610-fair-grain.md
  Cargo.lock
  README.md
  docs/design.html
  lash-cli/src/app.rs
  lash-cli/src/main.rs
  lash-cli/src/markdown.rs
  lash-cli/src/session_log.rs
  lash-cli/src/ui.rs
  lash/Cargo.toml
  lash/baml_src/agent.baml
  lash/python/repl.py
  lash/src/agent/message.rs
  lash/src/agent/mod.rs
  lash/src/instructions.rs
  lash/src/lib.rs
  lash/src/oauth.rs
  lash/src/provider.rs
  lash/src/session.rs
  lash/src/store.rs
  lash/src/tools/composite.rs
  lash/src/tools/delegate_task.rs
  lash/src/tools/diff_file.rs
  lash/src/tools/edit_file.rs
  lash/src/tools/find_replace.rs
  lash/src/tools/glob.rs
  lash/src/tools/grep.rs
  lash/src/tools/ls.rs
  lash/src/tools/mod.rs
  lash/src/tools/read_file.rs
  lash/src/tools/shell.rs
  lash/src/tools/skills.rs
  lash/src/tools/view_message.rs
  lash/src/tools/write_file.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

cleanup: minimal readme, update gitignore, agent_call + plan_mode tools, runtime refactor
  .gitignore
  Cargo.lock
  README.md
  docs/design.html
  lash-cli/Cargo.toml
  lash-cli/src/app.rs
  lash-cli/src/event.rs
  lash-cli/src/main.rs
  lash-cli/src/session_log.rs
  lash-cli/src/setup.rs
  lash-cli/src/skill.rs
  lash-cli/src/theme.rs
  lash-cli/src/ui.rs
  lash/Cargo.toml
  lash/baml_src/agent.baml
  lash/baml_src/clients.baml
  lash/build.rs
  lash/python/repl.py
  lash/src/agent/exec.rs
  lash/src/agent/message.rs
  lash/src/agent/mod.rs
  lash/src/instructions.rs
  lash/src/lib.rs
  lash/src/provider.rs
  lash/src/runtime.rs
  lash/src/store.rs
  lash/src/tools/agent_call.rs
  lash/src/tools/composite.rs
  lash/src/tools/delegate_task.rs
  lash/src/tools/grep.rs
  lash/src/tools/mod.rs
  lash/src/tools/plan_mode.rs
  lash/src/tools/read_file.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

fix: CI deps - libmpdec-dev on linux, zstd/xz/readline on macos
  .github/workflows/build.yml
Due: none

fix CI: use standalone python bundled libs, add LIBRARY_PATH, drop system dev packages
  .github/workflows/build.yml
Due: none

fix CI: copy bundled static libs to install/lib, skip dill for cross builds
  .github/workflows/build.yml
  scripts/fetch-python.sh
Due: none

fix ci linking issues across linux/mac and update UI changes
  .github/workflows/build.yml
  Cargo.lock
  lash-cli/src/app.rs
  lash-cli/src/main.rs
  lash-cli/src/markdown.rs
  lash-cli/src/theme.rs
  lash-cli/src/ui.rs
  lash/Cargo.toml
  scripts/fetch-python.sh
Due: cargo-fmt-cli, cargo-clippy-cli

ci: use libreadline arm64 cross package without multiarch
  .github/workflows/build.yml
Due: none

ci: alias libedit as libreadline for static python link
  .github/workflows/build.yml
  scripts/fetch-python.sh
Due: none

ci: use debug libpython name for mac debug-full bundles
  .github/workflows/build.yml
  scripts/fetch-python.sh
Due: none

ci: set Py_DEBUG for mac debug-full python config
  .github/workflows/build.yml
  scripts/fetch-python.sh
Due: none

ci: alias debug libpython names for mac static linking
  .github/workflows/build.yml
  scripts/fetch-python.sh
Due: none

ci: use shared libpython for mac debug-full targets
  .github/workflows/build.yml
  scripts/fetch-python.sh
Due: none

ci: add explicit native lib search path via RUSTFLAGS
  .github/workflows/build.yml
Due: none

ci: symlink mac debug libpython aliases and refresh cache
  .github/workflows/build.yml
  scripts/fetch-python.sh
Due: none

Fix build script Python standalone selection for CI targets
  lash/build.rs
Due: cargo-fmt-lash, cargo-clippy-lash

Use shared libpython for aarch64 Linux CI and refresh cache
  .github/workflows/build.yml
  scripts/fetch-python.sh
Due: none

Fix Linux shared-libpython detection in build script
  lash/build.rs
Due: cargo-fmt-lash, cargo-clippy-lash

Feature-gate sqlite store to keep lash-core portable
  lash-cli/Cargo.toml
  lash/Cargo.toml
  lash/src/lib.rs
  lash/src/tools/mod.rs
Due: cargo-fmt-lash, cargo-clippy-lash

Use Tavily extract for fetch_url
  lash/build.rs
  lash/src/tools/fetch_url.rs
Due: cargo-fmt-lash, cargo-clippy-lash

Track generated baml client for dependency builds
  .gitignore
  lash/src/baml_client/baml_source_map.rs
  lash/src/baml_client/functions/async_client.rs
  lash/src/baml_client/functions/mod.rs
  lash/src/baml_client/functions/sync_client.rs
  lash/src/baml_client/mod.rs
  lash/src/baml_client/runtime.rs
  lash/src/baml_client/stream_types/classes.rs
  lash/src/baml_client/stream_types/mod.rs
  lash/src/baml_client/stream_types/type_aliases.rs
  lash/src/baml_client/stream_types/unions.rs
  lash/src/baml_client/type_builder/classes.rs
  lash/src/baml_client/type_builder/enums.rs
  lash/src/baml_client/type_builder/mod.rs
  lash/src/baml_client/types/classes.rs
  lash/src/baml_client/types/enums.rs
  lash/src/baml_client/types/mod.rs
  lash/src/baml_client/types/type_aliases.rs
  lash/src/baml_client/types/unions.rs
Due: none

Fix python static lib link search for dependency builds
  lash/build.rs
  lash/src/baml_client/baml_source_map.rs
  lash/src/baml_client/functions/async_client.rs
  lash/src/baml_client/functions/mod.rs
  lash/src/baml_client/functions/sync_client.rs
  lash/src/baml_client/mod.rs
  lash/src/baml_client/runtime.rs
  lash/src/baml_client/stream_types/classes.rs
  lash/src/baml_client/stream_types/mod.rs
  lash/src/baml_client/stream_types/type_aliases.rs
  lash/src/baml_client/stream_types/unions.rs
  lash/src/baml_client/type_builder/classes.rs
  lash/src/baml_client/type_builder/enums.rs
  lash/src/baml_client/type_builder/mod.rs
  lash/src/baml_client/types/classes.rs
  lash/src/baml_client/types/enums.rs
  lash/src/baml_client/types/mod.rs
  lash/src/baml_client/types/type_aliases.rs
  lash/src/baml_client/types/unions.rs
Due: cargo-fmt-lash, cargo-clippy-lash

Add Google OAuth provider support and tighten headless runtime behavior
  lash-cli/src/main.rs
  lash-cli/src/setup.rs
  lash/baml_src/agent.baml
  lash/python/repl.py
  lash/src/agent/mod.rs
  lash/src/baml_client/baml_source_map.rs
  lash/src/embedded.rs
  lash/src/oauth.rs
  lash/src/provider.rs
  lash/src/runtime.rs
  lash/src/session.rs
  lash/src/tools/agent_call.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

feat: unify typed turn input and enable live provider reconfiguration
  lash-cli/src/command.rs
  lash-cli/src/main.rs
  lash/baml_src/agent.baml
  lash/baml_src/types.baml
  lash/src/agent/message.rs
  lash/src/agent/mod.rs
  lash/src/baml_client/baml_source_map.rs
  lash/src/baml_client/stream_types/classes.rs
  lash/src/baml_client/type_builder/classes.rs
  lash/src/baml_client/types/classes.rs
  lash/src/lib.rs
  lash/src/runtime.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Refine Codex provider defaults and subagent model behavior
  lash-cli/src/main.rs
  lash/src/agent/mod.rs
  lash/src/provider.rs
  lash/src/runtime.rs
  lash/src/tools/agent_call.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

feat: add headless tool discovery and harden runtime state handling
  Cargo.lock
  README.md
  docs/architecture.html
  lash-cli/Cargo.toml
  lash-cli/src/app.rs
  lash-cli/src/main.rs
  lash/baml_src/agent.baml
  lash/python/repl.py
  lash/src/agent/mod.rs
  lash/src/baml_client/baml_source_map.rs
  lash/src/embedded.rs
  lash/src/lib.rs
  lash/src/provider.rs
  lash/src/runtime.rs
  lash/src/tools/agent_call.rs
  lash/src/tools/composite.rs
  lash/src/tools/diff_file.rs
  lash/src/tools/edit_file.rs
  lash/src/tools/fetch_url.rs
  lash/src/tools/find_replace.rs
  lash/src/tools/glob.rs
  lash/src/tools/grep.rs
  lash/src/tools/ls.rs
  lash/src/tools/plan_mode.rs
  lash/src/tools/read_file.rs
  lash/src/tools/shell.rs
  lash/src/tools/skills.rs
  lash/src/tools/tasks.rs
  lash/src/tools/view_message.rs
  lash/src/tools/web_search.rs
  lash/src/tools/write_file.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Improve headless tool UX, TUI execution feedback, and terminalbench scripts
  .gitignore
  README.md
  lash-cli/src/app.rs
  lash-cli/src/main.rs
  lash-cli/src/ui.rs
  lash/baml_src/agent.baml
  lash/python/repl.py
  lash/src/agent/message.rs
  lash/src/agent/mod.rs
  lash/src/baml_client/baml_source_map.rs
  scripts/harbor_lash_agent.py
  scripts/install-lash.sh.j2
  scripts/run-terminalbench.sh
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

feat: add preamble/soul prompt overrides and fix multi-role chat serialization
  lash-cli/src/main.rs
  lash/src/agent/message.rs
  lash/src/agent/mod.rs
  scripts/harbor_lash_agent.py
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

refactor shell handle API and align prompt/capability guidance
  lash-cli/src/app.rs
  lash/python/repl.py
  lash/src/agent/prompt.rs
  lash/src/capabilities.rs
  lash/src/tools/agent_call.rs
  lash/src/tools/shell.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Implement dynamic tool/capability runtime with transactional reconfigure
  docs/architecture.html
  lash-cli/src/command.rs
  lash-cli/src/main.rs
  lash/python/repl.py
  lash/src/agent/mod.rs
  lash/src/agent/prompt.rs
  lash/src/capabilities.rs
  lash/src/dynamic.rs
  lash/src/embedded.rs
  lash/src/lib.rs
  lash/src/runtime.rs
  lash/src/session.rs
  lash/src/tools/agent_call.rs
  lash/src/tools/mod.rs
  lash/src/tools/switchable.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Fix macOS build
  .cargo/config.toml
  .github/workflows/build.yml
  dev.sh
  lash-cli/build.rs
  lash-cli/src/main.rs
  lash/build.rs
  scripts/fetch-python.sh
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Add system and bundled PyO3 build modes with CI coverage
  .cargo/config.toml
  .github/workflows/build.yml
  README.md
  dev.sh
  lash-cli/Cargo.toml
  lash/Cargo.toml
  lash/build.rs
  lash/src/embedded.rs
  lash/src/python_home.rs
Due: cargo-fmt-lash, cargo-clippy-lash

Path conditions:
  cargo-fmt-lash: any of: ^lash/.*\.rs$, but not: lash/src/baml_client/.*
  cargo-fmt-cli: any of: ^lash-cli/.*\.rs$, but not: lash/src/baml_client/.*
  cargo-clippy-lash: any of: ^lash/.*\.rs$, but not: lash/src/baml_client/.*
  cargo-clippy-cli: any of: ^lash-cli/.*\.rs$, but not: lash/src/baml_client/.*
