Repository SamGalanakis/lash: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

.pre-commit-config.yaml:

exclude: 'lash/src/baml_client/.*'

repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json

  - repo: local
    hooks:
      # Rust — lash (core library)
      - id: cargo-fmt-lash
        name: cargo fmt (lash)
        language: system
        entry: cargo fmt --manifest-path lash/Cargo.toml --check
        files: '^lash/.*\.rs$'
        pass_filenames: false

      # Rust — lash-cli
      - id: cargo-fmt-cli
        name: cargo fmt (lash-cli)
        language: system
        entry: cargo fmt --manifest-path lash-cli/Cargo.toml --check
        files: '^lash-cli/.*\.rs$'
        pass_filenames: false

      # Rust clippy — lash (core library)
      - id: cargo-clippy-lash
        name: cargo clippy (lash)
        language: system
        entry: cargo clippy --manifest-path lash/Cargo.toml -- -D warnings
        files: '^lash/.*\.rs$'
        pass_filenames: false

      # Rust clippy — lash-cli
      - id: cargo-clippy-cli
        name: cargo clippy (lash-cli)
        language: system
        entry: cargo clippy --manifest-path lash-cli/Cargo.toml -- -D warnings
        files: '^lash-cli/.*\.rs$'
        pass_filenames: false

Add xtask build wrapper for python mode selection
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  README.md
  xtask/Cargo.toml
  xtask/src/main.rs
Due: none

updocs: refresh /skills from disk, fix Google model defaults, update README
  README.md
  lash-cli/src/main.rs
  lash/python/repl.py
  lash/src/capabilities.rs
  lash/src/dynamic.rs
  lash/src/llm/adapters/google_cloudcode.rs
  lash/src/provider.rs
  lash/src/tools/mod.rs
  lash/src/tools/view_message.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

docs: redesign architecture visualization page
  docs/architecture.html
Due: none

feat: add ToolSet with set-algebra operators for composable tool assembly
  lash-cli/src/main.rs
  lash/src/lib.rs
  lash/src/tools/mod.rs
  lash/src/tools/toolset.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

feat: add configurable LASH_HOME data directory
  lash-cli/src/app.rs
  lash-cli/src/main.rs
  lash-cli/src/session_log.rs
  lash-cli/src/skill.rs
  lash/src/instructions.rs
  lash/src/lib.rs
  lash/src/provider.rs
  lash/src/python_home.rs
  lash/src/tools/plan_mode.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

refactor: standardize sub-agent tier names to low/medium/high
  README.md
  lash/src/llm/adapters/claude_oauth.rs
  lash/src/llm/adapters/codex_oauth.rs
  lash/src/llm/adapters/google_cloudcode.rs
  lash/src/llm/adapters/openrouter.rs
  lash/src/provider.rs
  lash/src/tools/agent_call.rs
Due: cargo-fmt-lash, cargo-clippy-lash

runtime: cut over to assembled turn contract and migrate CLI/docs
  README.md
  docs/architecture.html
  lash-cli/src/main.rs
  lash/src/agent/mod.rs
  lash/src/lib.rs
  lash/src/runtime.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

runtime: harden low-level output contract and stream/event handling
  README.md
  lash-cli/src/app.rs
  lash-cli/src/event.rs
  lash-cli/src/main.rs
  lash-cli/src/ui.rs
  lash/src/agent/exec.rs
  lash/src/lib.rs
  lash/src/runtime.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

fix: harden codex/runtime output handling and auth request metadata
  lash-cli/src/app.rs
  lash-cli/src/main.rs
  lash/python/repl.py
  lash/src/agent/mod.rs
  lash/src/agent/prompt.rs
  lash/src/llm/adapters/codex_oauth.rs
  lash/src/llm/types.rs
  lash/src/oauth.rs
  lash/src/provider.rs
  lash/src/runtime.rs
  lash/src/tools/agent_call.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Add app server and simple web UI
  Cargo.lock
  lash-cli/Cargo.toml
  lash-cli/src/main.rs
  lash-cli/src/server/handler.rs
  lash-cli/src/server/http.rs
  lash-cli/src/server/mod.rs
  lash-cli/src/server/protocol.rs
  lash-cli/src/server/transport.rs
  lash-web/.gitignore
  lash-web/index.html
  lash-web/package-lock.json
  lash-web/package.json
  lash-web/postcss.config.js
  lash-web/src/components/chat/ChatInput.tsx
  lash-web/src/components/chat/ChatView.tsx
  lash-web/src/components/chat/MessageBubble.tsx
  lash-web/src/components/chat/MessageList.tsx
  lash-web/src/components/chat/StreamingMessage.tsx
  lash-web/src/components/chat/WelcomeView.tsx
  lash-web/src/components/layout/Header.tsx
  lash-web/src/components/layout/RootLayout.tsx
  lash-web/src/components/layout/Sidebar.tsx
  lash-web/src/index.css
  lash-web/src/lib/lash-client.ts
  lash-web/src/lib/types.ts
  lash-web/src/lib/utils.ts
  lash-web/src/main.tsx
  lash-web/src/routes/__root.tsx
  lash-web/src/routes/chat.$threadId.tsx
  lash-web/src/routes/index.tsx
  lash-web/src/stores/useSessionStore.ts
  lash-web/src/stores/useUIStore.ts
  lash-web/tsconfig.json
  lash-web/vite.config.ts
  lash/src/dynamic.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Working streaming
  Cargo.lock
  lash-cli/src/app.rs
  lash-cli/src/main.rs
  lash-cli/src/server/handler.rs
  lash-cli/src/server/http.rs
  lash-cli/src/server/mod.rs
  lash-cli/src/server/protocol.rs
  lash-cli/src/server/transport.rs
  lash-cli/src/stream_text.rs
  lash-web/pnpm-lock.yaml
  lash-web/src/components/chat/MessageList.tsx
  lash-web/src/components/layout/Header.tsx
  lash-web/src/components/layout/Sidebar.tsx
  lash-web/src/stores/useSessionStore.ts
  lash/Cargo.toml
  lash/src/agent/mod.rs
  lash/src/embedded.rs
  lash/src/llm/adapters/openrouter.rs
  lash/src/provider.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Document low-tier subagents using native tools
  README.md
  docs/architecture.html
  lash/src/tools/agent_call.rs
Due: cargo-fmt-lash, cargo-clippy-lash

Make prompt caching and context folding more stable
  README.md
  docs/architecture.html
  lash-cli/src/main.rs
  lash/src/agent/mod.rs
  lash/src/agent/prompt.rs
  lash/src/lib.rs
  lash/src/provider.rs
  lash/src/runtime.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Add native-tools-only build mode
  README.md
  dev.sh
  lash-cli/Cargo.toml
  lash-cli/src/main.rs
  lash/Cargo.toml
  lash/build.rs
  lash/src/agent/mod.rs
  lash/src/agent/prompt.rs
  lash/src/embedded_stub.rs
  lash/src/lib.rs
  lash/src/runtime.rs
  lash/src/session.rs
  lash/src/tools/agent_call.rs
  xtask/src/main.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Unify streaming policy across execution modes
  README.md
  docs/architecture.html
  lash/src/agent/mod.rs
  lash/src/llm/adapters/codex_oauth.rs
  lash/src/llm/transport.rs
Due: cargo-fmt-lash, cargo-clippy-lash

Add themeing
  lash-web/src/components/chat/ChatInput.tsx
  lash-web/src/components/chat/MessageBubble.tsx
  lash-web/src/components/chat/MessageList.tsx
  lash-web/src/components/chat/StreamingMessage.tsx
  lash-web/src/components/chat/WelcomeView.tsx
  lash-web/src/index.css
Due: none

Document sans-IO turn machine API surface in architecture docs
  docs/architecture.html
Due: none

Skip fetch tool when no Tavily API key is provided
  lash/src/dynamic.rs
Due: cargo-fmt-lash, cargo-clippy-lash

Skip fetch tool when no Tavily API key is provided (#4)
  lash/src/dynamic.rs
Due: cargo-fmt-lash, cargo-clippy-lash

Add streaming tool call support for OpenRouter provider
  lash/src/agent/mod.rs
  lash/src/sansio.rs
Due: cargo-fmt-lash, cargo-clippy-lash

Add streaming tool call support for OpenRouter provider (#3)
  lash/src/agent/mod.rs
  lash/src/sansio.rs
Due: cargo-fmt-lash, cargo-clippy-lash

Refactor runtime flow and sync docs
  README.md
  docs/architecture.html
  lash-cli/src/main.rs
  lash-cli/src/session_log.rs
  lash/src/agent/mod.rs
  lash/src/agent/prompt.rs
  lash/src/embedded.rs
  lash/src/lib.rs
  lash/src/llm/adapters/claude_oauth.rs
  lash/src/llm/adapters/codex_oauth.rs
  lash/src/llm/adapters/google_cloudcode.rs
  lash/src/llm/adapters/openrouter.rs
  lash/src/llm/adapters/streaming.rs
  lash/src/provider.rs
  lash/src/runtime.rs
  lash/src/sansio.rs
  lash/src/session.rs
  lash/src/tools/agent_call.rs
  lash/src/tools/composite.rs
  lash/src/tools/find_replace.rs
  lash/src/tools/glob.rs
  lash/src/tools/grep.rs
  lash/src/tools/ls.rs
  lash/src/tools/mod.rs
  lash/src/tools/read_file.rs
  lash/src/tools/write_file.rs
  scripts/run-terminalbench.sh
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Unify tool discovery and flatten prompt transport
  README.md
  docs/architecture.html
  lash-cli/src/app.rs
  lash-cli/src/main.rs
  lash/src/agent/exec.rs
  lash/src/agent/message.rs
  lash/src/agent/mod.rs
  lash/src/agent/prompt.rs
  lash/src/capabilities.rs
  lash/src/embedded.rs
  lash/src/lib.rs
  lash/src/llm/adapters/claude_oauth.rs
  lash/src/llm/adapters/codex_oauth.rs
  lash/src/llm/adapters/google_cloudcode.rs
  lash/src/llm/adapters/openrouter.rs
  lash/src/llm/types.rs
  lash/src/runtime.rs
  lash/src/sansio.rs
  lash/src/tools/agent_call.rs
  lash/src/tools/batch.rs
  lash/src/tools/glob.rs
  lash/src/tools/ls.rs
  lash/src/tools/plan_mode.rs
  lash/src/tools/shell.rs
  lash/src/tools/state.rs
  scripts/harbor_lash_agent.py
  scripts/run-terminalbench.sh
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Consolidate runtime and benchmark tooling
  README.md
  docs/architecture.html
  lash-cli/src/main.rs
  lash-cli/src/ui.rs
  lash/src/agent/mod.rs
  lash/src/capabilities.rs
  lash/src/embedded.rs
  lash/src/lib.rs
  lash/src/llm/adapters/codex_oauth.rs
  lash/src/runtime.rs
  lash/src/tools/agent_call.rs
  lash/src/tools/batch.rs
  lash/src/tools/edit_file.rs
  lash/src/tools/fetch_url.rs
  lash/src/tools/find_replace.rs
  lash/src/tools/glob.rs
  lash/src/tools/grep.rs
  lash/src/tools/ls.rs
  lash/src/tools/read_file.rs
  lash/src/tools/shell.rs
  lash/src/tools/state.rs
  lash/src/tools/tasks.rs
  lash/src/tools/web_search.rs
  scripts/harbor_lash_agent.py
  scripts/run-terminalbench.sh
  scripts/summarize_terminalbench.py
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Tighten benchmark prompt guidance
  scripts/harbor_lash_agent.py
Due: none

Simplify tool runtime and improve CLI transcript
  README.md
  docs/architecture.html
  docs/design.html
  lash-cli/src/activity.rs
  lash-cli/src/app.rs
  lash-cli/src/command.rs
  lash-cli/src/main.rs
  lash-cli/src/resume.rs
  lash-cli/src/session_log.rs
  lash-cli/src/ui.rs
  lash-cli/src/util.rs
  lash/src/agent/message.rs
  lash/src/agent/mod.rs
  lash/src/agent/prompt.rs
  lash/src/capabilities.rs
  lash/src/dynamic.rs
  lash/src/embedded.rs
  lash/src/lib.rs
  lash/src/plugin.rs
  lash/src/plugin/runtime_impl.rs
  lash/src/provider.rs
  lash/src/runtime.rs
  lash/src/sansio.rs
  lash/src/session.rs
  lash/src/store.rs
  lash/src/tools/agent_call.rs
  lash/src/tools/apply_patch.rs
  lash/src/tools/batch.rs
  lash/src/tools/edit_file.rs
  lash/src/tools/filtered.rs
  lash/src/tools/find_replace.rs
  lash/src/tools/mod.rs
  lash/src/tools/plan_mode.rs
  lash/src/tools/read_file.rs
  lash/src/tools/shell.rs
  lash/src/tools/state.rs
  lash/src/tools/toolset.rs
  lash/src/tools/update_plan.rs
  lash/src/tools/write_file.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Remove stale lash-cli legacy UI code
  lash-cli/src/main.rs
  lash-cli/src/ui.rs
Due: cargo-fmt-cli, cargo-clippy-cli
