Repository SamGalanakis/lash: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

cargo-fmt-lash:
  name: cargo fmt (lash)
  language: system
  entry: cargo fmt --manifest-path lash/Cargo.toml --check
  pass_filenames: false

cargo-fmt-cli:
  name: cargo fmt (lash-cli)
  language: system
  entry: cargo fmt --manifest-path lash-cli/Cargo.toml --check
  pass_filenames: false

cargo-clippy-lash:
  name: cargo clippy (lash)
  language: system
  entry: cargo clippy --manifest-path lash/Cargo.toml -- -D warnings
  pass_filenames: false

cargo-clippy-cli:
  name: cargo clippy (lash-cli)
  language: system
  entry: cargo clippy --manifest-path lash-cli/Cargo.toml -- -D warnings
  pass_filenames: false

Fix CI regressions across tests and runners
  .github/workflows/ci.yml
  .github/workflows/release.yml
  lash/src/provider.rs
  lash/src/tools/agent_call.rs
  lash/src/tools/shell.rs
  lash/src/tools/tasks.rs
Due: cargo-fmt-lash, cargo-clippy-lash

Gate Unix signal handling in lash-cli
  lash-cli/src/main.rs
Due: cargo-fmt-cli, cargo-clippy-cli

Add lashlang workflow runtime
  Cargo.lock
  Cargo.toml
  README.md
  lashlang/Cargo.toml
  lashlang/src/ast.rs
  lashlang/src/lexer.rs
  lashlang/src/lib.rs
  lashlang/src/parser.rs
  lashlang/src/runtime.rs
  lashlang/tests/language.rs
  lashlang/tests/property.rs
  scripts/harbor_lash_agent.py
  scripts/run-terminalbench.sh
Due: none

Ignore target-bullseye build output
  .gitignore
Due: none

Replace Monty with lashlang and polish runtime
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Cargo.lock
  README.md
  install_lash.sh
  lash-cli/build.rs
  lash-cli/src/app.rs
  lash-cli/src/main.rs
  lash-cli/src/ui.rs
  lash/Cargo.toml
  lash/src/agent/mod.rs
  lash/src/agent/prompt.rs
  lash/src/embedded.rs
  lash/src/llm/adapters/claude_oauth.rs
  lash/src/model_variant.rs
  lash/src/provider.rs
  lash/src/runtime.rs
  lash/src/sansio.rs
  lash/src/session.rs
  lash/src/tools/agent_call.rs
  lash/src/tools/ask.rs
  lash/src/tools/toolset.rs
  lashlang/src/ast.rs
  lashlang/src/lexer.rs
  lashlang/src/lib.rs
  lashlang/src/parser.rs
  lashlang/src/runtime.rs
  lashlang/tests/language.rs
  lashlang/tests/property.rs
  scripts/release_version.py
  scripts/render-installer.sh
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Clean up tool discovery and refresh architecture docs
  README.md
  docs/architecture.html
  lash-cli/src/activity.rs
  lash-cli/src/app.rs
  lash-cli/src/main.rs
  lash/src/capabilities.rs
  lash/src/dynamic.rs
  lash/src/lib.rs
  lash/src/plugin_builtin.rs
  lash/src/runtime.rs
  lash/src/tools/mod.rs
  lash/src/tools/skills.rs
  lash/src/tools/state.rs
  lash/src/tools/update_plan.rs
  lashlang/src/lib.rs
  lashlang/src/runtime.rs
  lashlang/tests/language.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Fix injected message scrolling behavior
  lash-cli/src/app.rs
Due: cargo-fmt-cli, cargo-clippy-cli

Fix CI shell teardown regressions
  lash/src/plugin_builtin.rs
  lash/src/tools/shell.rs
Due: cargo-fmt-lash, cargo-clippy-lash

Harden PTY stdin completion detection
  lash/src/tools/shell.rs
Due: cargo-fmt-lash, cargo-clippy-lash

Prefer process exit after close_stdin writes
  lash/src/tools/shell.rs
Due: cargo-fmt-lash, cargo-clippy-lash

Make write_stdin wait on real process state
  lash/src/tools/shell.rs
Due: cargo-fmt-lash, cargo-clippy-lash

Improve terminalbench presets and benchmark agent setup
  README.md
  scripts/export_terminalbench_results.py
  scripts/harbor_lash_agent.py
  scripts/harbor_opencode_agent.py
  scripts/run-terminalbench.sh
  scripts/terminalbench_results.py
  scripts/terminalbench_ui.html
Due: none

Redesign bench observatory: compact W&B-style sidebar, N-way comparison
  README.md
  lash-cli/src/main.rs
  scripts/run-terminalbench.sh
  scripts/terminalbench_ui.html
Due: cargo-fmt-cli, cargo-clippy-cli

Add resizable/collapsible sidebar to bench observatory
  scripts/terminalbench_ui.html
Due: none

Add code-letter badges (A/B/C) and tag-based run identity to compare view
  scripts/terminalbench_ui.html
Due: none

Show context strategy and execution mode in compare table headers
  scripts/terminalbench_ui.html
Due: none

Add context strategy to run strip tags, persist selections, add select-all
  scripts/terminalbench_ui.html
Due: none

Fix sidebar resize not properly reflowing main content
  scripts/terminalbench_ui.html
Due: none

Replace sidebar resize with simple open/closed toggle, fix content reflow
  scripts/terminalbench_ui.html
Due: none

Fix layout overflow: constrain both grid columns with minmax(0, ...)
  scripts/terminalbench_ui.html
Due: none

Refactor runtime/sansio, improve benchmarking and UI
  README.md
  lash/src/agent/exec.rs
  lash/src/agent/mod.rs
  lash/src/agent/prompt.rs
  lash/src/embedded.rs
  lash/src/runtime.rs
  lash/src/sansio.rs
  lash/src/session.rs
  lash/src/tools/agent_call/runner.rs
  scripts/run-terminalbench.sh
  scripts/terminalbench_results.py
  scripts/terminalbench_ui.html
Due: cargo-fmt-lash, cargo-clippy-lash

Change default execution mode from Repl to Standard
  lash/src/lib.rs
Due: cargo-fmt-lash, cargo-clippy-lash

Cancel in-progress CI runs when new push arrives on same branch
  .github/workflows/ci.yml
Due: none

Improve context handling, memory tools, benchmarking scripts, add Codex agent
  lash/src/agent/context.rs
  lash/src/tools/memory.rs
  scripts/harbor_codex_agent.py
  scripts/run-terminalbench.sh
  scripts/terminalbench_results.py
Due: cargo-fmt-lash, cargo-clippy-lash

Redesign benchmark dashboard: structured compare cards, agent icons, sidebar fix
  README.md
  lash/src/agent/context.rs
  lash/src/tools/memory.rs
  scripts/harbor_codex_agent.py
  scripts/harbor_lash_agent.py
  scripts/run-terminalbench.sh
  scripts/terminalbench_results.py
  scripts/terminalbench_ui.html
Due: cargo-fmt-lash, cargo-clippy-lash

Fix compaction infinite recursion and child session LLM factory inheritance
  lash/src/agent/context.rs
  lash/src/runtime.rs
Due: cargo-fmt-lash, cargo-clippy-lash

Fix sansio image test: check structured messages instead of user_prompt
  lash/src/sansio.rs
  scripts/terminalbench_ui.html
Due: cargo-fmt-lash, cargo-clippy-lash

Refine OAuth auth flow and terminal UI handling
  README.md
  lash-cli/src/app.rs
  lash-cli/src/main.rs
  lash-cli/src/session_log.rs
  lash-cli/src/ui.rs
  lash/src/llm/adapters/claude_oauth.rs
  lash/src/llm/adapters/codex_oauth.rs
  scripts/run-terminalbench.sh
  scripts/terminalbench_ui.html
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Refine codex oauth request shaping and plan guidance
  lash/src/llm/adapters/codex_oauth.rs
  lash/src/plugin_builtin/plan_tracker.rs
  lash/src/tools/agent_call/policy.rs
  lash/src/tools/update_plan.rs
Due: cargo-fmt-lash, cargo-clippy-lash

Improve delegate tracking and pasted input previews
  lash-cli/src/activity.rs
  lash-cli/src/app.rs
  lash-cli/src/main.rs
  lash-cli/src/session_log.rs
  lash-cli/src/theme.rs
  lash-cli/src/ui.rs
  lash-sansio/src/agent/mod.rs
  lash/src/lib.rs
  lash/src/plugin.rs
  lash/src/tools/agent_call.rs
  lash/src/tools/agent_call/runner.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Path conditions:
  cargo-fmt-lash: any of: ^lash/.*\.rs$, but not: lash/src/baml_client/.*
  cargo-fmt-cli: any of: ^lash-cli/.*\.rs$, but not: lash/src/baml_client/.*
  cargo-clippy-lash: any of: ^lash/.*\.rs$, but not: lash/src/baml_client/.*
  cargo-clippy-cli: any of: ^lash-cli/.*\.rs$, but not: lash/src/baml_client/.*
