Repository SamGalanakis/lash: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

.pre-commit-config.yaml:

exclude: 'lash/src/baml_client/.*'

repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json

  - repo: local
    hooks:
      # Rust — lash (core library)
      - id: cargo-fmt-lash
        name: cargo fmt (lash)
        language: system
        entry: cargo fmt --manifest-path lash/Cargo.toml --check
        files: '^lash/.*\.rs$'
        pass_filenames: false

      # Rust — lash-cli
      - id: cargo-fmt-cli
        name: cargo fmt (lash-cli)
        language: system
        entry: cargo fmt --manifest-path lash-cli/Cargo.toml --check
        files: '^lash-cli/.*\.rs$'
        pass_filenames: false

      # Rust clippy — lash (core library)
      - id: cargo-clippy-lash
        name: cargo clippy (lash)
        language: system
        entry: cargo clippy --manifest-path lash/Cargo.toml -- -D warnings
        files: '^lash/.*\.rs$'
        pass_filenames: false

      # Rust clippy — lash-cli
      - id: cargo-clippy-cli
        name: cargo clippy (lash-cli)
        language: system
        entry: cargo clippy --manifest-path lash-cli/Cargo.toml -- -D warnings
        files: '^lash-cli/.*\.rs$'
        pass_filenames: false

Add LongMemEval question token budget
  bench/longmemeval-rlm/README.md
  bench/longmemeval-rlm/runner/src/main.rs
Due: none

Improve LLM failure tracing and provider persistence
  bench/longmemeval-rlm/runner/src/main.rs
  lash-cli/src/bootstrap.rs
  lash-cli/src/cli_support.rs
  lash-cli/src/interactive/commands.rs
  lash-cli/src/session_log.rs
  lash-cli/src/turn_runner.rs
  lash-sansio/src/sansio/mod.rs
  lash-sansio/src/sansio/tests.rs
  lash/src/embedded.rs
  lash/src/lib.rs
  lash/src/llm/adapters/codex_oauth.rs
  lash/src/llm/adapters/google_cloudcode.rs
  lash/src/llm/adapters/openrouter.rs
  lash/src/llm/timeouts.rs
  lash/src/llm/transport.rs
  lash/src/plugin.rs
  lash/src/plugin/runtime_impl.rs
  lash/src/plugin/tool_result_projection_builtin.rs
  lash/src/plugin_builtin/rlm_mode.rs
  lash/src/runtime/mod.rs
  lash/src/runtime/tests.rs
  lash/src/runtime/turn_driver.rs
  lash/src/session.rs
  lash/src/store.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Refresh architecture docs and remove xtask
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  docs/architecture.html
  xtask/Cargo.toml
  xtask/src/main.rs
Due: none

Refine autoresearch and dynamic tool behavior
  .gitignore
  Cargo.lock
  bench/longmemeval-rlm/runner/Cargo.toml
  lash-autoresearch/Cargo.toml
  lash-autoresearch/src/model.rs
  lash-autoresearch/src/runtime.rs
  lash-autoresearch/src/ui.rs
  lash-cli/Cargo.toml
  lash-cli/src/activity/mod.rs
  lash-cli/src/activity/projectors/subagents.rs
  lash-cli/src/app/tests.rs
  lash-cli/src/bootstrap.rs
  lash-cli/src/command.rs
  lash-cli/src/editor.rs
  lash-cli/src/interactive/commands.rs
  lash-cli/src/interactive/mod.rs
  lash-cli/src/interactive/runtime.rs
  lash-cli/src/render/mod.rs
  lash-cli/src/render/tests.rs
  lash-sansio/src/lib.rs
  lash-sansio/src/mode.rs
  lash-sansio/src/prompt.rs
  lash-sansio/src/session_model/mod.rs
  lash-sansio/src/tool_surface.rs
  lash-subagents/Cargo.toml
  lash-tui/src/table.rs
  lash-ui/src/lib.rs
  lash/src/dynamic.rs
  lash/src/plugin.rs
  lash/src/plugin/runtime_impl.rs
  lash/src/plugin_builtin/rolling_history.rs
  lash/src/runtime/mod.rs
  lash/src/runtime/session_manager.rs
  lash/src/session.rs
  lash/src/skill_catalog.rs
  lash/src/store.rs
  lash/src/tool_dispatch.rs
  lash/src/tools/grep.rs
  lash/src/tools/mod.rs
  lash/tests/store_gc.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Fix UI perf CI summary parsing
  .github/workflows/ci.yml
Due: none

Render accepted queued follow-ups in chat
  lash-cli/src/app/mod.rs
  lash-cli/src/app/tests.rs
  lash-cli/src/test_support.rs
Due: cargo-fmt-cli, cargo-clippy-cli

Refine plan mode and prompt overlay flow
  lash-cli/src/activity/mod.rs
  lash-cli/src/app/input.rs
  lash-cli/src/app/mod.rs
  lash-cli/src/app/projection.rs
  lash-cli/src/app/tests.rs
  lash-cli/src/app/view.rs
  lash-cli/src/bootstrap.rs
  lash-cli/src/interactive/mod.rs
  lash-cli/src/overlay.rs
  lash-cli/src/render/artifact.rs
  lash-cli/src/render/mod.rs
  lash-cli/src/render/prompt.rs
  lash-cli/src/render/tests.rs
  lash-cli/src/scratch_tui.rs
  lash-cli/src/theme.rs
  lash-ui/src/lib.rs
  lash/src/lib.rs
  lash/src/plugin.rs
  lash/src/plugin_builtin.rs
  lash/src/plugin_builtin/plan_mode.rs
  lash/src/plugin_builtin/plan_tracker.rs
  lash/src/plugin_builtin/tests.rs
  lash/src/session.rs
  lash/src/test_support.rs
  lash/src/tools/mod.rs
  lash/src/tools/update_plan.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Polish editor input and native tool dispatch
  lash-cli/src/activity/mod.rs
  lash-cli/src/app/input.rs
  lash-cli/src/editor.rs
  lash-cli/src/interactive/mod.rs
  lash-cli/src/interactive/tests.rs
  lash-cli/src/ui_action.rs
  lash-sansio/src/session_model/prompt.rs
  lash/src/llm/adapters/codex_oauth.rs
  lash/src/plugin/tool_result_projection_builtin.rs
  lash/src/plugin_builtin/rolling_history.rs
  lash/src/plugin_builtin/standard_mode.rs
  lash/src/session.rs
  lash/src/tool_dispatch.rs
  lash/src/tools/shell.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Fix remaining compiler warning
  lash-cli/src/render/prompt.rs
Due: cargo-fmt-cli, cargo-clippy-cli

Reduce streaming copy overhead and add offline adapter profiling
  lash-cli/src/runtime_perf.rs
  lash/src/llm/adapters/openrouter.rs
  lash/src/llm/adapters/streaming.rs
  lash/src/runtime/mod.rs
  lash/src/runtime/turn_driver.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Optimize OpenAI-compatible streaming path
  lash/src/llm/adapters/openrouter.rs
Due: cargo-fmt-lash, cargo-clippy-lash

Add session export tooling and LongCoT benchmark support
  .gitignore
  Cargo.lock
  Cargo.toml
  bench/README.md
  bench/longcot/README.md
  bench/longcot/evaluate.sh
  bench/longcot/run.sh
  bench/longcot/runner/Cargo.toml
  bench/longcot/runner/src/dataset.rs
  bench/longcot/runner/src/main.rs
  bench/longcot/setup.sh
  lash-cli/Cargo.toml
  lash-cli/src/main.rs
  lash-export/Cargo.toml
  lash-export/src/bin/lash_export.rs
  lash-export/src/html.rs
  lash-export/src/json.rs
  lash-export/src/lib.rs
  lash-sansio/src/mode.rs
  lash-subagents/Cargo.toml
  lash-subagents/src/host.rs
  lash-subagents/src/policy.rs
  lash/src/lib.rs
  lash/src/llm/adapters/openrouter.rs
  lash/src/plugin.rs
  lash/src/plugin_builtin/monitor.rs
  lash/src/plugin_builtin/standard_mode.rs
  lash/src/runtime/host.rs
  lash/src/runtime/mod.rs
  lash/src/runtime/session_manager.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

fix 1.2: function_call id plumbing
  lash-cli/src/fork.rs
  lash-cli/src/interactive/runtime.rs
  lash-cli/src/render/tests.rs
  lash-cli/src/resume.rs
  lash-cli/src/resume_snapshot.rs
  lash-cli/src/session_log.rs
  lash-cli/src/turn_runner.rs
  lash-sansio/src/llm/types.rs
  lash-sansio/src/mode.rs
  lash-sansio/src/sansio/mod.rs
  lash-sansio/src/sansio/tests.rs
  lash-sansio/src/session_model/message.rs
  lash-sansio/src/session_model/mod.rs
  lash/src/direct.rs
  lash/src/llm/adapters/codex_oauth.rs
  lash/src/llm/adapters/google_cloudcode.rs
  lash/src/llm/adapters/openrouter.rs
  lash/src/plugin/runtime_impl.rs
  lash/src/plugin_builtin/observational_memory.rs
  lash/src/plugin_builtin/rolling_history.rs
  lash/src/runtime/mod.rs
  lash/src/runtime/tests.rs
  lash/src/runtime/turn_driver.rs
  lash/src/session_graph.rs
  lash/src/session_model/mod.rs
  lash/src/store.rs
  lash/tests/embedded_builder.rs
  lash/tests/protocol_drivers.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

wip: merge fixes 1.1, 1.2, 1.4, 1.5, E + lashlang Type + prompt trim
  Cargo.lock
  lash-cli/src/app/mod.rs
  lash-cli/src/app/projection.rs
  lash-cli/src/app/tests.rs
  lash-cli/src/cli_support.rs
  lash-sansio/src/mode.rs
  lash-sansio/src/session_model/prompt.rs
  lash-subagents/Cargo.toml
  lash-subagents/src/lib.rs
  lash-subagents/src/policy.rs
  lash-ui/src/lib.rs
  lash/src/llm/adapters/codex_oauth.rs
  lash/src/plugin_builtin/plan_mode.rs
  lash/src/runtime/mod.rs
  lash/src/runtime/tests.rs
  lash/src/runtime/turn_driver.rs
  lash/src/tools/shell.rs
  lashlang/src/ast.rs
  lashlang/src/lib.rs
  lashlang/src/parser.rs
  lashlang/src/runtime/mod.rs
  lashlang/src/runtime/tests.rs
  lashlang/tests/language.rs
  lashlang/tests/property.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

fix D: per-tool execution_mode
  bench/longmemeval-rlm/runner/src/bench_tools.rs
  lash-autoresearch/src/runtime.rs
  lash-cli/src/bootstrap.rs
  lash-cli/src/interactive/runtime.rs
  lash-sansio/src/lib.rs
  lash-sansio/src/mode.rs
  lash-sansio/src/tool_surface.rs
  lash-sansio/src/turn.rs
  lash-subagents/src/policy.rs
  lash/src/dynamic.rs
  lash/src/lib.rs
  lash/src/mcp.rs
  lash/src/plugin.rs
  lash/src/plugin_builtin/plan_mode.rs
  lash/src/plugin_builtin/rlm_support.rs
  lash/src/plugin_builtin/standard_mode.rs
  lash/src/plugin_builtin/tests.rs
  lash/src/runtime/mod.rs
  lash/src/runtime/tests.rs
  lash/src/runtime/turn_driver.rs
  lash/src/session.rs
  lash/src/tool_dispatch.rs
  lash/src/tools/apply_patch.rs
  lash/src/tools/ask.rs
  lash/src/tools/batch.rs
  lash/src/tools/fetch_url.rs
  lash/src/tools/glob.rs
  lash/src/tools/grep.rs
  lash/src/tools/ls.rs
  lash/src/tools/mod.rs
  lash/src/tools/read_file.rs
  lash/src/tools/shell.rs
  lash/src/tools/show_snippet_to_user.rs
  lash/src/tools/web_search.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

gitignore .claude/ harness state
  .gitignore
Due: none

fix #19: PTY kill on cancel
  lash/src/tools/shell.rs
Due: cargo-fmt-lash, cargo-clippy-lash

fix 1.3a: render reasoning/thinking in CLI
  lash-cli/src/app/mod.rs
  lash-cli/src/app/projection.rs
  lash-cli/src/app/tests.rs
  lash-cli/src/assistant_text.rs
  lash-cli/src/autonomous.rs
  lash-cli/src/overlay.rs
  lash-cli/src/render/mod.rs
  lash-cli/src/theme.rs
  lash-cli/src/ui_trace.rs
  lash-export/src/html.rs
  lash-sansio/src/llm/types.rs
  lash-sansio/src/mode.rs
  lash-sansio/src/sansio/mod.rs
  lash-sansio/src/session_model/message.rs
  lash-sansio/src/session_model/mod.rs
  lash/src/llm/adapters/codex_oauth.rs
  lash/src/plugin_builtin/observational_memory.rs
  lash/src/runtime/mod.rs
  lash/src/runtime/tests.rs
  lash/src/runtime/turn_driver.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

fix 1.3b: re-feed reasoning on Codex turns
  lash-cli/src/app/projection.rs
  lash-cli/src/fork.rs
  lash-cli/src/interactive/runtime.rs
  lash-cli/src/overlay.rs
  lash-cli/src/render/tests.rs
  lash-cli/src/resume.rs
  lash-cli/src/resume_snapshot.rs
  lash-cli/src/session_log.rs
  lash-cli/src/turn_runner.rs
  lash-export/src/html.rs
  lash-sansio/src/llm/types.rs
  lash-sansio/src/mode.rs
  lash-sansio/src/sansio/mod.rs
  lash-sansio/src/sansio/tests.rs
  lash-sansio/src/session_model/message.rs
  lash-sansio/src/session_model/mod.rs
  lash/src/llm/adapters/codex_oauth.rs
  lash/src/llm/adapters/google_cloudcode.rs
  lash/src/llm/adapters/openrouter.rs
  lash/src/plugin/runtime_impl.rs
  lash/src/plugin_builtin/observational_memory.rs
  lash/src/plugin_builtin/rolling_history.rs
  lash/src/runtime/mod.rs
  lash/src/runtime/tests.rs
  lash/src/runtime/turn_driver.rs
  lash/src/session_graph.rs
  lash/src/session_model/mod.rs
  lash/src/store.rs
  lash/tests/embedded_builder.rs
  lash/tests/protocol_drivers.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

fix 1.3c: reasoning support for openrouter
  lash/src/llm/adapters/openrouter.rs
Due: cargo-fmt-lash, cargo-clippy-lash

tidy: add missing reasoning_meta/tool_item_id fields to test literals; fix warnings
  lash-cli/src/app/tests.rs
  lash-sansio/src/mode.rs
  lash-sansio/src/session_model/message.rs
  lash/src/llm/adapters/codex_oauth.rs
  lash/src/llm/adapters/google_cloudcode.rs
  lash/src/llm/adapters/openrouter.rs
  lash/src/runtime/tests.rs
  lash/src/runtime/turn_driver.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

fix: register monitor/tasks_{list,stop} in both modes; tighten RLM lashlang prompt
  lash-sansio/src/mode.rs
  lash-subagents/src/policy.rs
  lash/src/plugin_builtin/rlm_mode.rs
  lash/src/plugin_builtin/standard_mode.rs
Due: cargo-fmt-lash, cargo-clippy-lash

cleanup: remove dead RlmModeNativeTools stub + unused imports
  lash/src/plugin_builtin/rlm_mode.rs
Due: cargo-fmt-lash, cargo-clippy-lash

fix: restore 'empty tools array is intentional' signal in RLM prompt
  lash-sansio/src/mode.rs
Due: none

fix: omit tool_choice in Codex adapter when tools are empty (RLM mode)
  lash/src/llm/adapters/codex_oauth.rs
Due: cargo-fmt-lash, cargo-clippy-lash

fix: accept finish <expr> in default RLM as an observation, not a hard error
  lash-sansio/src/mode.rs
  lash/src/embedded.rs
  lash/src/session.rs
Due: cargo-fmt-lash, cargo-clippy-lash

fix: finish <expr> ends both program and turn in all RLM modes
  lash-sansio/src/mode.rs
  lash/src/embedded.rs
  lash/src/session.rs
Due: cargo-fmt-lash, cargo-clippy-lash

fix(rlm): document tool-result {ok,value} shape, silence null finish renders
  lash-sansio/src/mode.rs
Due: none

tests+prompt: pin every RLM-prompt claim with executable tests
  lash-sansio/src/mode.rs
  lashlang/src/parser.rs
  lashlang/tests/rlm_prompt_claims.rs
Due: none

ui(rlm): reveal executed lashlang source in Alt+O full-expand view
  lash-cli/src/app/mod.rs
  lash-cli/src/app/tests.rs
  lash-cli/src/render/mod.rs
  lash-cli/src/render/tests.rs
  lash-sansio/src/mode.rs
Due: cargo-fmt-cli, cargo-clippy-cli

Optimize and refactor lashlang runtime
  lash/examples/embedded_perf.rs
  lash/src/embedded.rs
  lash/src/session.rs
  lashlang/benches/benchmark.rs
  lashlang/examples/bench_support/mod.rs
  lashlang/examples/perf.rs
  lashlang/src/lib.rs
  lashlang/src/runtime/cache.rs
  lashlang/src/runtime/host.rs
  lashlang/src/runtime/mod.rs
  lashlang/src/runtime/record.rs
  lashlang/src/runtime/state.rs
  lashlang/src/runtime/tests.rs
  lashlang/tests/language.rs
Due: cargo-fmt-lash, cargo-clippy-lash
