Repository SamGalanakis/lash: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

.pre-commit-config.yaml:

exclude: 'lash/src/baml_client/.*'

repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json

  - repo: local
    hooks:
      # Rust — lash (core library)
      - id: cargo-fmt-lash
        name: cargo fmt (lash)
        language: system
        entry: cargo fmt --manifest-path lash/Cargo.toml --check
        files: '^lash/.*\.rs$'
        pass_filenames: false

      # Rust — lash-cli
      - id: cargo-fmt-cli
        name: cargo fmt (lash-cli)
        language: system
        entry: cargo fmt --manifest-path lash-cli/Cargo.toml --check
        files: '^lash-cli/.*\.rs$'
        pass_filenames: false

      # Rust clippy — lash (core library)
      - id: cargo-clippy-lash
        name: cargo clippy (lash)
        language: system
        entry: cargo clippy --manifest-path lash/Cargo.toml -- -D warnings
        files: '^lash/.*\.rs$'
        pass_filenames: false

      # Rust clippy — lash-cli
      - id: cargo-clippy-cli
        name: cargo clippy (lash-cli)
        language: system
        entry: cargo clippy --manifest-path lash-cli/Cargo.toml -- -D warnings
        files: '^lash-cli/.*\.rs$'
        pass_filenames: false

Stabilize UI trace fixtures across branches
  lash-cli/src/interactive/mod.rs
  lash-cli/src/test_support.rs
  lash-cli/src/ui_trace.rs
Due: cargo-fmt-cli, cargo-clippy-cli

TUI design polish: separator, pickers, markdown hierarchy
  lash-cli/src/app/mod.rs
  lash-cli/src/app/tests.rs
  lash-cli/src/assistant_text.rs
  lash-cli/src/cli_support.rs
  lash-cli/src/interactive/mod.rs
  lash-cli/src/interactive/runtime.rs
  lash-cli/src/markdown.rs
  lash-cli/src/render/activity.rs
  lash-cli/src/render/artifact.rs
  lash-cli/src/render/mod.rs
  lash-cli/src/render/tests.rs
  lash-cli/src/scratch_tui.rs
  lash-cli/src/test_support.rs
  lash-cli/src/theme.rs
  lash-cli/src/ui_trace.rs
  lash-ui/src/lib.rs
  lash/src/plugin_builtin/plan_mode.rs
  lash/src/plugin_builtin/tests.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Suppress duplicate file path in titled snippet previews
  lash-cli/src/render/artifact.rs
  lash-cli/src/render/tests.rs
  lash-cli/src/test_support.rs
Due: cargo-fmt-cli, cargo-clippy-cli

Refine plan mode lifecycle behavior
  lash/src/plugin_builtin/plan_mode.rs
  lash/src/plugin_builtin/tests.rs
Due: cargo-fmt-lash, cargo-clippy-lash

Improve prompt rendering and runtime cleanup
  lash-cli/src/app/input.rs
  lash-cli/src/app/mod.rs
  lash-cli/src/app/projection.rs
  lash-cli/src/app/tests.rs
  lash-cli/src/fork.rs
  lash-cli/src/interactive/mod.rs
  lash-cli/src/overlay.rs
  lash-cli/src/prompt_overrides.rs
  lash-cli/src/render/mod.rs
  lash-cli/src/render/prompt.rs
  lash-cli/src/render/tests.rs
  lash-cli/src/scratch_tui.rs
  lash-cli/src/setup.rs
  lash-cli/src/test_support.rs
  lash-cli/src/text_layout.rs
  lash-cli/src/ui_action.rs
  lash-cli/src/ui_perf.rs
  lash-sansio/src/session_model/prompt.rs
  lash-tui/src/lib.rs
  lash/src/plugin_builtin/plan_mode.rs
  lash/src/runtime.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Add user input provenance and configurable copy binding
  .cargo/config.toml
  .gitignore
  lash-cli/src/app/mod.rs
  lash-cli/src/app/projection.rs
  lash-cli/src/app/tests.rs
  lash-cli/src/cli_support.rs
  lash-cli/src/fork.rs
  lash-cli/src/interactive/mod.rs
  lash-cli/src/interactive/runtime.rs
  lash-cli/src/interactive/tests.rs
  lash-cli/src/main.rs
  lash-cli/src/render/tests.rs
  lash-cli/src/resume.rs
  lash-cli/src/resume_snapshot.rs
  lash-cli/src/session_log.rs
  lash-cli/src/ui_perf.rs
  lash-sansio/src/lib.rs
  lash-sansio/src/plugin.rs
  lash-sansio/src/sansio.rs
  lash-sansio/src/session_model/message.rs
  lash-sansio/src/session_model/mod.rs
  lash-tui/src/lib.rs
  lash/src/lib.rs
  lash/src/plugin/runtime_impl.rs
  lash/src/runtime.rs
  lash/src/session_model/context.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Suppress no-op shell poll activity spam
  lash-cli/src/activity.rs
Due: cargo-fmt-cli, cargo-clippy-cli

Ensure repo temp directory exists in cargo builds
  .cargo/config.toml
  scripts/rustc-wrapper.sh
Due: none

Improve copy flow and REPL tool discovery
  justfile
  lash-cli/src/app/mod.rs
  lash-cli/src/app/tests.rs
  lash-cli/src/main.rs
  lash-cli/src/render/artifact.rs
  lash-cli/src/render/mod.rs
  lash-cli/src/render/tests.rs
  lash-sansio/src/session_model/prompt.rs
  lash/src/plugin/runtime_impl.rs
  lash/src/session_model/mod.rs
  lash/src/tools/default_plugins.rs
  lash/src/tools/mod.rs
  lash/src/tools/state.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Fix OpenAI-compatible provider for cross-provider compatibility
  lash-cli/src/activity.rs
  lash-cli/src/app/input.rs
  lash-cli/src/app/tests.rs
  lash-cli/src/assistant_text.rs
  lash-cli/src/interactive/mod.rs
  lash-cli/src/overlay.rs
  lash-cli/src/render/prompt.rs
  lash-cli/src/render/tests.rs
  lash-cli/src/resume.rs
  lash-cli/src/setup.rs
  lash-sansio/src/lib.rs
  lash-sansio/src/session_model/mod.rs
  lash-sansio/src/session_model/prompt.rs
  lash/src/lib.rs
  lash/src/llm/adapters/openrouter.rs
  lash/src/plugin_builtin/tests.rs
  lash/src/runtime.rs
  lash/src/session.rs
  lash/src/session_model/mod.rs
  lash/src/tools/default_plugins.rs
  lash/src/tools/mod.rs
  lash/src/tools/state.rs
  lash/src/tools/wait.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Make terminal restore idempotent
  lash-tui/src/lib.rs
Due: none

Fix CI by removing brittle tests
  .github/workflows/ci.yml
  lash-cli/src/assistant_text.rs
  lash-cli/src/main.rs
  lash-cli/src/test_support.rs
Due: cargo-fmt-cli, cargo-clippy-cli

Fix Windows CI rustc wrapper override
  .github/workflows/ci.yml
Due: none

Bypass rustc wrapper in Windows CI build
  .github/workflows/ci.yml
Due: none

Remove rustc wrapper from CI and cargo config
  .cargo/config.toml
  .github/workflows/ci.yml
  lash-cli/src/app/input.rs
  lash-cli/src/app/mod.rs
  lash-cli/src/app/tests.rs
  lash-cli/src/app/view.rs
  lash-cli/src/interactive/mod.rs
  lash-cli/src/render/mod.rs
  lash-cli/src/render/prompt.rs
  lash-cli/src/render/tests.rs
  lash-cli/src/scratch_tui.rs
  lash/src/tools/wait.rs
  scripts/rustc-wrapper.sh
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Restore render test snapshot import
  lash-cli/src/render/tests.rs
Due: cargo-fmt-cli, cargo-clippy-cli

Remove obsolete cargo temp overrides
  .cargo/config.toml
Due: none

Add xhigh support for Codex GPT-5.4
  lash/src/model_variant.rs
  lash/src/provider.rs
Due: cargo-fmt-lash, cargo-clippy-lash

Refactor wait UI into a dedicated overlay
  lash-cli/src/app/input.rs
  lash-cli/src/app/mod.rs
  lash-cli/src/app/tests.rs
  lash-cli/src/app/view.rs
  lash-cli/src/interactive/mod.rs
  lash-cli/src/overlay.rs
  lash-cli/src/render/mod.rs
  lash-cli/src/render/prompt.rs
  lash-cli/src/render/tests.rs
  lash-cli/src/render/wait.rs
  lash-cli/src/scratch_tui.rs
  lash-cli/src/test_support.rs
  lash-cli/src/ui_trace.rs
Due: cargo-fmt-cli, cargo-clippy-cli

Improve slash command rendering and runtime flow
  lash-cli/src/app/mod.rs
  lash-cli/src/app/tests.rs
  lash-cli/src/autonomous.rs
  lash-cli/src/delegate_tools/runner.rs
  lash-cli/src/interactive/commands.rs
  lash-cli/src/interactive/mod.rs
  lash-cli/src/interactive/runtime.rs
  lash-cli/src/render/mod.rs
  lash-cli/src/render/queue.rs
  lash-cli/src/render/tests.rs
  lash-cli/src/theme.rs
  lash/src/runtime.rs
  lash/src/session_model/context.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Improve clipboard fallback handling
  Cargo.lock
  lash-cli/Cargo.toml
  lash-cli/src/clipboard.rs
  lash-cli/src/interactive/mod.rs
  lash-cli/src/interactive/runtime.rs
  lash-cli/src/interactive/tests.rs
  lash-cli/src/main.rs
  lash-cli/src/setup.rs
  lash-cli/src/ui_action.rs
Due: cargo-fmt-cli, cargo-clippy-cli

Fix slash command rendering coverage
  lash-cli/src/clipboard.rs
  lash-cli/src/render/mod.rs
  lash-cli/src/render/queue.rs
  lash-cli/src/render/tests.rs
  lash/src/runtime.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Fix manual interrupt queue handoff and rename snippet tool
  lash-cli/src/activity.rs
  lash-cli/src/app/mod.rs
  lash-cli/src/app/tests.rs
  lash-cli/src/interactive/mod.rs
  lash-cli/src/interactive/tests.rs
  lash-cli/src/render/tests.rs
  lash-cli/src/ui_perf.rs
  lash-sansio/src/session_model/prompt.rs
  lash/src/plugin/tool_result_projection_builtin.rs
  lash/src/plugin_builtin/plan_mode.rs
  lash/src/plugin_builtin/plan_tracker.rs
  lash/src/tools/apply_patch.rs
  lash/src/tools/default_plugins.rs
  lash/src/tools/mod.rs
  lash/src/tools/show_snippet_to_user.rs
  lash/src/tools/update_plan.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Fix queued turn persistence and user input rendering
  lash-cli/src/app/input.rs
  lash-cli/src/app/mod.rs
  lash-cli/src/app/tests.rs
  lash-cli/src/editor.rs
  lash-cli/src/interactive/mod.rs
  lash-cli/src/interactive/runtime.rs
  lash-cli/src/render/mod.rs
  lash-cli/src/render/tests.rs
  lash-cli/src/scratch_tui.rs
Due: cargo-fmt-cli, cargo-clippy-cli

Preserve max context tokens when restoring live snapshots
  lash-cli/src/resume.rs
Due: cargo-fmt-cli, cargo-clippy-cli

Make fresh-context plan execution switch sessions immediately
  lash-cli/src/app/tests.rs
  lash-cli/src/cli_support.rs
  lash-cli/src/interactive/mod.rs
  lash-cli/src/resume.rs
  lash-cli/src/session_log.rs
  lash-ui/src/lib.rs
  lash/src/plugin_builtin/plan_mode.rs
  lash/src/plugin_builtin/tests.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Refine shared and mode-specific prompt guidance
  lash-sansio/src/session_model/prompt.rs
Due: none

Fix plan-mode tests and add pre-commit workspace tests
  .pre-commit-config.yaml
  lash-cli/src/interactive/mod.rs
  lash-cli/src/main.rs
  lash-tui/src/lib.rs
  lash/src/plugin_builtin/tests.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Improve interactive UI resume and runtime projection flow
  docs/architecture.html
  lash-cli/src/activity.rs
  lash-cli/src/app/input.rs
  lash-cli/src/app/mod.rs
  lash-cli/src/app/projection.rs
  lash-cli/src/app/tests.rs
  lash-cli/src/cli_support.rs
  lash-cli/src/fork.rs
  lash-cli/src/markdown.rs
  lash-cli/src/render/activity.rs
  lash-cli/src/render/artifact.rs
  lash-cli/src/render/mod.rs
  lash-cli/src/render/prompt.rs
  lash-cli/src/render/queue.rs
  lash-cli/src/render/tests.rs
  lash-cli/src/render/wait.rs
  lash-cli/src/resume.rs
  lash-cli/src/resume_snapshot.rs
  lash-cli/src/scratch_tui.rs
  lash-cli/src/session_log.rs
  lash-cli/src/setup.rs
  lash-cli/src/test_support.rs
  lash-cli/src/theme.rs
  lash-cli/src/ui_perf.rs
  lash-cli/src/ui_resume.rs
  lash-cli/src/ui_trace.rs
  lash/src/lib.rs
  lash/src/runtime.rs
  lash/src/store.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Refactor session graph and modernize file search tooling
  Cargo.lock
  lash-cli/src/activity/mod.rs
  lash-cli/src/activity/projectors/exploration.rs
  lash-cli/src/app/mod.rs
  lash-cli/src/app/tests.rs
  lash-cli/src/autonomous.rs
  lash-cli/src/delegate_tools/mod.rs
  lash-cli/src/delegate_tools/policy.rs
  lash-cli/src/delegate_tools/runner.rs
  lash-cli/src/interactive/runtime.rs
  lash-cli/src/main.rs
  lash-cli/src/ui_trace.rs
  lash-sansio/src/sansio.rs
  lash-sansio/src/session.rs
  lash-sansio/src/session_model/exec.rs
  lash-sansio/src/session_model/mod.rs
  lash-sansio/src/session_model/prompt.rs
  lash/Cargo.toml
  lash/src/embedded.rs
  lash/src/lib.rs
  lash/src/plugin.rs
  lash/src/plugin_builtin/plan_mode.rs
  lash/src/plugin_builtin/rolling_history.rs
  lash/src/runtime.rs
  lash/src/session.rs
  lash/src/session_model/mod.rs
  lash/src/test_support.rs
  lash/src/tools/batch.rs
  lash/src/tools/default_plugins.rs
  lash/src/tools/glob.rs
  lash/src/tools/grep.rs
  lash/src/tools/ls.rs
  lash/src/tools/mod.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Add REPL stream fence masking and lashlang RLM infrastructure
  lash-cli/src/bootstrap.rs
  lash-cli/src/fork.rs
  lash-cli/src/main.rs
  lash-cli/src/repl_stream_mask.rs
  lash-sansio/src/sansio.rs
  lash-sansio/src/session_model/exec.rs
Due: cargo-fmt-cli, cargo-clippy-cli

Enable fff zlob builds in CI
  .github/workflows/ci.yml
  Cargo.lock
  lash-cli/Cargo.toml
  lash-default-tools/Cargo.toml
  lash-ui/Cargo.toml
  lash/Cargo.toml
  scripts/profile_runtime.py
  scripts/profile_ui.py
Due: none

Use native file traversal for ls/glob and update project config
  .gitignore
  Cargo.lock
  lash-ui/Cargo.toml
  lash/Cargo.toml
  lash/src/tools/mod.rs
  scripts/profile_print.py
Due: cargo-fmt-lash, cargo-clippy-lash

Simplify runtime persistence and refresh architecture docs
  docs/architecture.html
  lash-cli/src/bootstrap.rs
  lash-cli/src/cli_support.rs
  lash-cli/src/fork.rs
  lash-cli/src/interactive/runtime.rs
  lash-cli/src/main.rs
  lash-cli/src/overlay.rs
  lash-cli/src/persistence.rs
  lash-cli/src/render/mod.rs
  lash-cli/src/render/tests.rs
  lash-cli/src/render/wait.rs
  lash-cli/src/resume_snapshot.rs
  lash-cli/src/runtime_perf.rs
  lash-cli/src/scratch_tui.rs
  lash-cli/src/tree.rs
  lash-cli/src/turn_runner.rs
  lash-default-tools/src/lib.rs
  lash/src/context_approach.rs
  lash/src/lib.rs
  lash/src/plugin.rs
  lash/src/plugin/runtime_impl.rs
  lash/src/plugin_builtin/observational_memory.rs
  lash/src/plugin_builtin/rolling_history.rs
  lash/src/runtime/mod.rs
  lash/src/session.rs
  lash/src/store.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Fix release builds for fff zlob
  .github/workflows/release.yml
Due: none
