Repository SamGalanakis/lash: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

cargo-fmt-lash:
  name: cargo fmt (lash)
  language: system
  entry: cargo fmt --manifest-path lash/Cargo.toml --check
  pass_filenames: false

cargo-fmt-cli:
  name: cargo fmt (lash-cli)
  language: system
  entry: cargo fmt --manifest-path lash-cli/Cargo.toml --check
  pass_filenames: false

cargo-clippy-lash:
  name: cargo clippy (lash)
  language: system
  entry: cargo clippy --manifest-path lash/Cargo.toml -- -D warnings
  pass_filenames: false

cargo-clippy-cli:
  name: cargo clippy (lash-cli)
  language: system
  entry: cargo clippy --manifest-path lash-cli/Cargo.toml -- -D warnings
  pass_filenames: false

Clarify RLM decomposition guidance
  Cargo.lock
  bench/terminalbench2/README.md
  docs/architecture/lashlang.html
  lash-cli/src/bootstrap.rs
  lash-export/Cargo.toml
  lash-export/src/html.rs
  lash-export/src/html_assets/script.js
  lash-export/src/html_assets/style.css
  lash-export/src/json.rs
  lash-export/src/lib.rs
  lash-export/src/markdown.rs
  lash-export/src/trace.rs
  lash-mode-rlm/src/driver.rs
  lash-mode-rlm/src/protocol.rs
  lash-mode-rlm/tests/protocol_drivers.rs
  lash-rlm-types/src/lib.rs
  lash-subagents/src/rlm.rs
  lash-trace/src/lib.rs
  lash/src/chronological.rs
  lash/src/runtime/turn_driver.rs
  lash/src/runtime/turn_graph.rs
  lash/src/runtime/turn_progress.rs
  lash/src/runtime_controls.rs
  lash/src/session.rs
  lash/src/session_graph.rs
  lash/src/trace.rs
  lashlang/src/lexer.rs
  lashlang/tests/language.rs
  lashlang/tests/rlm_prompt_claims.rs
  scripts/harbor_lash_agent.py
  scripts/run-terminalbench.sh
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Enable Pages during docs workflow
  .github/workflows/docs-pages.yml
Due: none

Skip docs deployment when Pages is disabled
  .github/workflows/docs-pages.yml
Due: none

Refresh RLM projected globals before exec
  lash-mode-rlm/src/executor.rs
  lash-mode-rlm/src/plugin.rs
  lash/src/runtime/turn_driver.rs
  lash/src/runtime/turn_driver/effects.rs
  lash/src/session.rs
Due: cargo-fmt-lash, cargo-clippy-lash

Add OpenRouter chat UI sample data
  .openrouter-chat-ui/app.db
  .openrouter-chat-ui/lash-sessions/38a802c0-03ff-460d-bac9-88855008594e.db
  .openrouter-chat-ui/lash-sessions/38a802c0-03ff-460d-bac9-88855008594e.db-shm
  .openrouter-chat-ui/lash-sessions/38a802c0-03ff-460d-bac9-88855008594e.db-wal
  .openrouter-chat-ui/lash-sessions/48176b43-9341-4317-acdf-004081714af6.db
  .openrouter-chat-ui/lash-sessions/48176b43-9341-4317-acdf-004081714af6.db-shm
  .openrouter-chat-ui/lash-sessions/48176b43-9341-4317-acdf-004081714af6.db-wal
Due: none

Add CLBench full-suite runner controls
  bench/continual-learning-bench/README.md
  bench/continual-learning-bench/lash_system/system.py
  bench/continual-learning-bench/run.sh
  bench/continual-learning-bench/run_all.sh
Due: none

Expand Lashlang and embed architecture docs
  docs/architecture/execution.html
  docs/architecture/lashlang.html
Due: none

Update tracing provider and benchmark wiring
  bench/continual-learning-bench/run_all.sh
  bench/continual-learning-bench/runner/src/main.rs
  docs/architecture/deps.html
  docs/architecture/files.html
  lash-provider-openai/src/lib.rs
  lash/src/runtime/turn_driver.rs
Due: cargo-fmt-lash, cargo-clippy-lash

Unify tool signature rendering
  .gitignore
  .openrouter-chat-ui/app.db
  .openrouter-chat-ui/lash-sessions/38a802c0-03ff-460d-bac9-88855008594e.db
  .openrouter-chat-ui/lash-sessions/38a802c0-03ff-460d-bac9-88855008594e.db-shm
  .openrouter-chat-ui/lash-sessions/38a802c0-03ff-460d-bac9-88855008594e.db-wal
  .openrouter-chat-ui/lash-sessions/48176b43-9341-4317-acdf-004081714af6.db
  .openrouter-chat-ui/lash-sessions/48176b43-9341-4317-acdf-004081714af6.db-shm
  .openrouter-chat-ui/lash-sessions/48176b43-9341-4317-acdf-004081714af6.db-wal
  docs/architecture/deps.html
  docs/architecture/files.html
  lash-export/src/html.rs
  lash-mode-rlm/src/driver.rs
  lash-mode-rlm/src/protocol.rs
  lash-plugin-tool-discovery/src/catalog.rs
  lash-plugin-tool-discovery/src/definitions.rs
  lash-plugin-tool-discovery/src/lib.rs
  lash-plugin-tool-discovery/src/rerank.rs
  lash-plugin-tool-discovery/src/schema_index.rs
  lash-provider-anthropic/src/lib.rs
  lash-provider-openai/src/lib.rs
  lash-sansio/src/lib.rs
  lash-sansio/src/llm/types.rs
  lash-sansio/src/session_model/message.rs
  lash-trace/src/lib.rs
  lash/src/direct.rs
  lash/src/tools/mod.rs
  lash/src/trace.rs
Due: cargo-fmt-lash, cargo-clippy-lash

Keep RLM core prompt tool-neutral
  lash-llm-tools/src/lib.rs
  lash-mode-rlm/src/protocol.rs
  lash/src/tools/glob.rs
  lash/src/tools/grep.rs
  lash/src/tools/ls.rs
  lash/src/tools/read_file.rs
  lash/src/tools/shell.rs
Due: cargo-fmt-lash, cargo-clippy-lash

Iterate on RLM executor, protocol, and harness wiring
  bench/continual-learning-bench/runner/src/main.rs
  bench/longcot/runner/src/main.rs
  bench/longmemeval-rlm/runner/src/main.rs
  lash-cli/src/bootstrap.rs
  lash-cli/src/runtime_perf.rs
  lash-export/src/html.rs
  lash-harness-opt/src/lib.rs
  lash-llm-tools/src/lib.rs
  lash-mode-rlm/src/control_tools.rs
  lash-mode-rlm/src/driver.rs
  lash-mode-rlm/src/executor.rs
  lash-mode-rlm/src/lib.rs
  lash-mode-rlm/src/plugin.rs
  lash-mode-rlm/src/protocol.rs
  lash-mode-rlm/src/rlm_support.rs
  lash-rlm-types/src/lib.rs
  lash-subagents/src/lib.rs
  lash-subagents/src/rlm.rs
  lash/src/plugin/history.rs
  lash/src/plugin/mode.rs
  lash/src/runtime/session_ops.rs
  lash/src/session_graph.rs
  lashlang/src/runtime/mod.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Follow handoffs in CLBench runner
  bench/continual-learning-bench/README.md
  bench/continual-learning-bench/runner/src/main.rs
  lash-mode-rlm/src/control_tools.rs
  lash-mode-rlm/src/plugin.rs
  lash-mode-rlm/src/rlm_support.rs
  lash/src/lib.rs
  lash/src/runtime/mod.rs
  lash/src/runtime/turn_loop.rs
Due: cargo-fmt-lash, cargo-clippy-lash

Sync architecture docs with current runtime seams
  docs/architecture/abstractions.html
  docs/architecture/execution.html
  docs/architecture/files.html
  docs/architecture/flow.html
  docs/architecture/index.html
  docs/architecture/lashlang.html
  docs/architecture/modules.html
  docs/architecture/overview.html
  docs/architecture/runtime.html
  lashlang/src/runtime/mod.rs
  lashlang/src/runtime/schema.rs
  lashlang/tests/language.rs
Due: none

Add RLM projected bindings
  Cargo.lock
  bench/continual-learning-bench/runner/src/main.rs
  bench/longcot/runner/src/main.rs
  bench/longmemeval-rlm/runner/Cargo.toml
  bench/longmemeval-rlm/runner/src/main.rs
  lash-cli/src/autonomous.rs
  lash-cli/src/bootstrap.rs
  lash-cli/src/main.rs
  lash-cli/src/runtime_perf.rs
  lash-embed/src/lib.rs
  lash-mode-rlm/src/control_tools.rs
  lash-mode-rlm/src/executor.rs
  lash-mode-rlm/src/lib.rs
  lash-mode-rlm/src/plugin.rs
  lash-mode-rlm/src/projected_bindings.rs
  lash-mode-rlm/src/rlm_support.rs
  lash-rlm-types/src/lib.rs
  lash/src/lib.rs
  lash/src/plugin/history.rs
  lash/src/runtime/mod.rs
  lash/src/runtime/turn_driver.rs
  lash/src/runtime/turn_driver/effects.rs
  lash/src/runtime/turn_loop.rs
  lash/src/session.rs
  lash/src/session_graph.rs
  lashlang/src/lib.rs
  lashlang/src/runtime/mod.rs
  lashlang/src/runtime/tests.rs
  scripts/harbor_lash_agent.py
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Move RLM projections into mode extensions
  Cargo.lock
  bench/continual-learning-bench/runner/src/main.rs
  bench/longcot/README.md
  bench/longcot/runner/Cargo.toml
  bench/longcot/runner/src/main.rs
  bench/longmemeval-rlm/runner/src/main.rs
  bench/swebench/runner/src/main.rs
  lash-cli/src/interactive/input_handling.rs
  lash-cli/src/runtime_perf.rs
  lash-cli/src/turn_runner.rs
  lash-embed/src/lib.rs
  lash-mode-rlm/src/executor.rs
  lash-mode-rlm/src/lib.rs
  lash-mode-rlm/src/plugin.rs
  lash-mode-rlm/src/projected_bindings.rs
  lash-plugin-rolling-history/src/lib.rs
  lash-subagents/src/shared.rs
  lash/src/lib.rs
  lash/src/plugin/mode.rs
  lash/src/runtime/mod.rs
  lash/src/runtime/session_ops.rs
  lash/src/runtime/tests.rs
  lash/src/runtime/turn_driver.rs
  lash/src/runtime/turn_driver/effects.rs
  lash/src/runtime/turn_loop.rs
  lash/src/session.rs
Due: cargo-fmt-lash, cargo-fmt-cli, cargo-clippy-lash, cargo-clippy-cli

Stage 6 of lashlang runtime split: extract format/json/access/ops
  lashlang/src/runtime/access.rs
  lashlang/src/runtime/format.rs
  lashlang/src/runtime/json.rs
  lashlang/src/runtime/mod.rs
  lashlang/src/runtime/ops.rs
  lashlang/src/runtime/schema.rs
Due: none

Spring-cleaning: trim post-split lashlang dead code + collapse re-exports
  lashlang/src/runtime/compiler.rs
  lashlang/src/runtime/mod.rs
Due: none

Stage 4 of lashlang runtime split: extract compiler.rs
  lashlang/src/runtime/compiler.rs
  lashlang/src/runtime/mod.rs
  lashlang/src/runtime/tests.rs
Due: none

Stage 5 of lashlang runtime split: extract vm.rs
  lashlang/src/runtime/mod.rs
  lashlang/src/runtime/vm.rs
Due: none

Stage 3 of lashlang runtime split: extract instruction.rs
  lashlang/src/runtime/instruction.rs
  lashlang/src/runtime/mod.rs
  lashlang/src/runtime/schema.rs
Due: none

Add architecture docs sidebar navigation
  docs/architecture/abstractions.html
  docs/architecture/deps.html
  docs/architecture/execution.html
  docs/architecture/flow.html
  docs/architecture/html-exporter.html
  docs/architecture/index.html
  docs/architecture/lashlang.html
  docs/architecture/mermaid.js
  docs/architecture/modules.html
  docs/architecture/overview.html
  docs/architecture/runtime.html
  docs/architecture/styles.css
Due: none

Stage 1 of lashlang runtime split: extract entry_points.rs
  lashlang/src/runtime/entry_points.rs
  lashlang/src/runtime/mod.rs
Due: none

Stage 7 of lashlang runtime split: tidy mod.rs
  lashlang/src/runtime/mod.rs
Due: none

Stage 2 of lashlang runtime split: extract value.rs
  lashlang/src/runtime/mod.rs
  lashlang/src/runtime/value.rs
Due: none

Remove legacy provider compat shims
  bench/longcot/runner/src/main.rs
  bench/longmemeval-rlm/runner/src/main.rs
  lash/src/provider.rs
Due: cargo-fmt-lash, cargo-clippy-lash

Wire background support for embedded subagents
  bench/continual-learning-bench/runner/src/main.rs
  lash-embed/src/lib.rs
  lash-plugin-plan-mode/src/update_plan.rs
  lash-subagents/src/lib.rs
  lash/src/plugin/registry.rs
  lash/src/plugin/runtime_impl.rs
  lash/src/runtime/builder.rs
  lash/src/runtime/environment.rs
Due: cargo-fmt-lash, cargo-clippy-lash

Expose dynamic tool state in lash embed
  examples/openrouter-chat-ui/src/main.rs
  lash-embed/src/lib.rs
Due: none

Fix docs homepage layout, audit + expand architecture docs
  docs/architecture/abstractions.html
  docs/architecture/execution.html
  docs/architecture/lashlang.html
  docs/architecture/overview.html
  docs/architecture/runtime.html
  docs/design-language.html
  docs/index.html
  examples/openrouter-chat-ui/src/main.rs
  lash-embed/src/lib.rs
  lash-embed/tests/embed_plugins.rs
  lash-harness-opt/src/main.rs
  lash-mode-rlm/src/control_tools.rs
  lash-mode-rlm/src/plugin.rs
  lash-mode-rlm/src/rlm_support.rs
  lash-mode-rlm/tests/protocol_drivers.rs
  lash-sansio/src/sansio/mod.rs
  lash/src/lib.rs
  lash/src/plugin/mod.rs
  lash/src/plugin/mode.rs
  lash/src/runtime/mod.rs
  lash/src/runtime/session_manager/api.rs
  lash/src/runtime/session_manager/direct.rs
  lash/src/runtime/turn_driver.rs
  lash/src/runtime/turn_driver/effects.rs
  lash/src/runtime/turn_driver/streaming.rs
  lash/src/runtime/turn_driver/tools.rs
  lash/src/runtime/turn_loop.rs
  lash/src/session.rs
Due: cargo-fmt-lash, cargo-clippy-lash

Add turn event collector utilities
  docs/architecture/execution.html
  examples/openrouter-chat-ui/src/main.rs
  lash-embed/src/lib.rs
  lash-embed/tests/embed_plugins.rs
  lash-harness-opt/src/main.rs
Due: none

Unify terminal output events
  bench/continual-learning-bench/runner/src/main.rs
  bench/longcot/runner/src/main.rs
  bench/longmemeval-rlm/runner/src/main.rs
  bench/swebench/runner/src/main.rs
  docs/architecture/abstractions.html
  docs/architecture/execution.html
  docs/architecture/runtime.html
  docs/embedding.html
  docs/index.html
  examples/openrouter-chat-ui/README.md
  examples/openrouter-chat-ui/src/main.rs
  lash-embed/src/lib.rs
  lash-harness-opt/src/main.rs
  lash-mode-rlm/src/protocol.rs
  lash-mode-rlm/tests/protocol_drivers.rs
  lash-mode-standard/src/lib.rs
  lash-sansio/src/lib.rs
  lash-sansio/src/session_model/mod.rs
  lash-subagents/src/queue.rs
  lash-subagents/src/shared.rs
  lash/src/lib.rs
  lash/src/runtime/mod.rs
  lash/src/runtime/tests.rs
  lash/src/runtime/turn_driver.rs
  lash/src/runtime/turn_loop.rs
  lash/src/session.rs
  lash/src/testing.rs
Due: cargo-fmt-lash, cargo-clippy-lash

Add explicit RLM termination policies
  Cargo.lock
  bench/continual-learning-bench/runner/src/main.rs
  docs/embedding.html
  examples/openrouter-chat-ui/README.md
  examples/openrouter-chat-ui/src/main.rs
  lash-embed/Cargo.toml
  lash-embed/src/lib.rs
  lash-harness-opt/src/main.rs
  lash-mode-rlm/src/control_tools.rs
  lash-mode-rlm/src/driver.rs
  lash-mode-rlm/src/protocol.rs
  lash-mode-rlm/tests/protocol_drivers.rs
  lash-rlm-types/src/lib.rs
  lash-subagents/src/shared.rs
  lash/src/plugin/mode.rs
Due: cargo-fmt-lash, cargo-clippy-lash

Trace exporter: data-model + IA cleanup pass
  docs/design-language.html
  lash-export/src/html.rs
  lash-export/src/html_assets/script.js
  lash-export/src/html_assets/style.css
  lash-export/src/lib.rs
  lash-export/src/trace.rs
  lash-llm-tools/src/lib.rs
  lash-mode-rlm/src/control_tools.rs
  lash-plugin-observational-memory/src/lib.rs
  lash-plugin-plan-mode/tests/integration.rs
  lash-plugin-tool-discovery/src/lib.rs
  lash-plugin-tool-discovery/src/rerank.rs
  lash-subagents/src/lib.rs
  lash-trace/src/lib.rs
  lash/src/direct.rs
  lash/src/runtime/session_manager/direct.rs
  lash/src/session.rs
  lash/src/tool_dispatch.rs
  lash/src/tool_provider.rs
  lash/src/tools/ask.rs
  lash/src/tools/shell.rs
  lash/src/trace.rs
Due: cargo-fmt-lash, cargo-clippy-lash

Path conditions:
  cargo-fmt-lash: any of: ^lash/.*\.rs$, but not: lash/src/baml_client/.*
  cargo-fmt-cli: any of: ^lash-cli/.*\.rs$, but not: lash/src/baml_client/.*
  cargo-clippy-lash: any of: ^lash/.*\.rs$, but not: lash/src/baml_client/.*
  cargo-clippy-cli: any of: ^lash-cli/.*\.rs$, but not: lash/src/baml_client/.*
